workflows/Command Parser.json
{
  "updatedAt": "2026-01-14T19:44:53.884Z",
  "createdAt": "2026-01-11T18:21:47.330Z",
  "id": "QbD3Epml4ANF9vr0",
  "name": "Command Parser",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "cnshenyang/qwen3-nothink:14b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1712,
        1232
      ],
      "id": "8c1a80e5-56e4-4951-b69b-3b9826599a75",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "OwoNqqKy33Tzlan7",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "b7xXjE899CcIb9eo"
        },
        "workflowInputs": {
          "value": {
            "lang": "={{ $json.lang }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "fullname": "={{ $json.fullname }}",
            "username": "={{ $json.username }}"
          },
          "schema": [
            {
              "id": "chat_id",
              "type": "string",
              "required": true,
              "displayName": "chat_id"
            },
            {
              "id": "user_id",
              "type": "string",
              "required": true,
              "displayName": "user_id"
            },
            {
              "id": "username",
              "type": "string",
              "required": true,
              "displayName": "username"
            },
            {
              "id": "fullname",
              "type": "string",
              "required": true,
              "displayName": "fullname"
            },
            {
              "id": "lang",
              "type": "string",
              "required": true,
              "displayName": "lang"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "nlp-exec-deleteall",
      "name": "Execute Delete All",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3408,
        864
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Command Processor\",\n  \"type\": \"object\",\n  \"required\": [\n    \"command\"\n  ],\n  \"properties\": {\n    \"command\": {\n      \"enum\": [\n        \"show\",\n        \"list\",\n        \"delete\",\n        \"deleteall\",\n        \"book\",\n        \"register\",\n        \"play\",\n        \"noshow\",\n        \"help\",\n        \"start\"\n      ]\n    }\n  },\n  \"allOf\": [\n    {\n      \"comment\": \"Case 1: 'book' requires an array of booking objects\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"const\": \"book\"\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"arg1\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"court\": {\n                  \"type\": \"string\"\n                },\n                \"date\": {\n                  \"type\": \"string\",\n                  \"format\": \"date\"\n                },\n                \"time_start\": {\n                  \"type\": \"string\"\n                },\n                \"time_end\": {\n                  \"type\": \"string\"\n                },\n                \"players_num\": {\n                  \"type\": \"string\"\n                },\n                \"notes\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"court\",\n                \"date\",\n                \"time_start\",\n                \"time_end\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"arg1\"\n        ]\n      }\n    },\n    {\n      \"comment\": \"Case 2: 'show', 'delete', 'play', 'noshow' require a string (date/ID)\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"enum\": [\n              \"show\",\n              \"delete\",\n              \"play\",\n              \"noshow\"\n            ]\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"arg1\": {\n            \"type\": \"string\"\n          },\n          \"arg2\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    {\n      \"comment\": \"Case 3: 'list', 'deleteall', 'register', 'help', 'start' have no required args\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"enum\": [\n              \"list\",\n              \"deleteall\",\n              \"register\",\n              \"help\",\n              \"start\"\n            ]\n          }\n        }\n      },\n      \"then\": {\n        \"not\": {\n          \"required\": [\n            \"arg1\"\n          ]\n        }\n      }\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1712,
        1040
      ],
      "id": "fd11d4a8-90b2-4ce9-9451-29bc14ccf1a1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "cnshenyang/qwen3-nothink:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1504,
        1040
      ],
      "id": "14e5a540-a2b5-4ae1-a4e0-805e680f8632",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "OwoNqqKy33Tzlan7",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.5-air",
          "mode": "list",
          "cachedResultName": "glm-4.5-air"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1616,
        1040
      ],
      "id": "764d6a14-f52b-41e3-832d-0e22ae1b8595",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ciQFZjyEyaubkBmg",
          "name": "z.ai"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w8lC6D3QXh47u6w1",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "fullname": "={{ $json.fullname }}",
            "lang": "={{ $json.lang }}"
          },
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "type": "string"
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": true,
              "type": "string"
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": true,
              "type": "string"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "nlp-exec-register",
      "name": "NLP Execute Register",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3248,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc0b16aa-f29a-474f-8285-51d18e336122",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "0e3401ee-0d12-423d-a865-83cf5c5e8b3a",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "2b1ac2e1-da8f-4546-a385-4dd86426e72b",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "f854f4d1-681e-4384-9a8b-77cb316ccdad",
              "name": "fullname",
              "value": "={{ $json.fullname }}",
              "type": "string"
            },
            {
              "id": "367396cb-c5ef-492b-b7f9-71627abefaac",
              "name": "lang",
              "value": "={{ $json.lang }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        608
      ],
      "id": "e9f32399-e18d-4ed6-babb-302ea9cd8186",
      "name": "Set args"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cmd",
              "name": "command",
              "type": "string",
              "value": "={{ $json.command }}"
            },
            {
              "id": "arg",
              "name": "arg1",
              "type": "string",
              "value": "={{ $json.arg1 }}"
            },
            {
              "id": "arg2",
              "name": "arg2",
              "type": "string",
              "value": "={{ $json.arg2 }}"
            },
            {
              "id": "cid",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $json.chat_id }}"
            },
            {
              "id": "uid",
              "name": "user_id",
              "type": "string",
              "value": "={{ $json.user_id }}"
            },
            {
              "id": "uname",
              "name": "username",
              "type": "string",
              "value": "={{ $json.username }}"
            },
            {
              "id": "fname",
              "name": "fullname",
              "type": "string",
              "value": "={{ $json.fullname }}"
            },
            {
              "id": "lng",
              "name": "lang",
              "type": "string",
              "value": "={{ $json.lang }}"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-context-with-parsed",
      "name": "Merge Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        592
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Start').item.json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# TASK\nParse user message into this JSON format:\n{\"command\": \"<COMMAND>\", \"arg1\": \"<ARGUMENT>\", \"arg2\": \"<ARGUMENT2>\"}\nCommand is mandatory. Arguments \"arg1\" and \"arg2\" are optional.\nNO other fields allowed. NO arrays in root (except for book command). JSON should be valid.\n\n---\n\n# CURRENT DATE\nToday: {{ $today.format('yyyy-MM-dd') }} ({{ $today.format('cccc') }})\nNow: {{ $now.format('yyyy-MM-dd HH:mm') }}\n\n---\n\n# COMMANDS REFERENCE\n\n## 1. show\nPurpose: Display court availability\nTrigger words: show, available, free, schedule, what's open, расписание, покажи, pokaż, wolne\narg1: Date string in YYYY-MM-DD format\n\nExamples:\n- \"show tomorrow\" → {\"command\": \"show\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"what's available Saturday\" → {\"command\": \"show\", \"arg1\": \"2026-01-17\"}\n\n## 2. list\nPurpose: Show user's reservations\nTrigger words: list, my reservations, my bookings, мои брони, moje rezerwacje\nNo arguments.\n\nExamples:\n- \"list my bookings\" → {\"command\": \"list\"}\n- \"Покажи мои брони\" → {\"command\": \"list\"}\n\n## 3. delete\nPurpose: Cancel ONE reservation by ID\nTrigger words: delete, cancel, remove + ID (NOT \"all\")\narg1: Reservation ID string\n\nExamples:\n- \"cancel 6952ec02dda30\" → {\"command\": \"delete\", \"arg1\": \"6952ec02dda30\"}\n\n## 4. deleteall\nPurpose: Cancel ALL reservations\nTrigger words: delete all, cancel all, remove all, отмени все, usuń wszystko\nNo arguments.\n\nExamples:\n- \"cancel all reservations\" → {\"command\": \"deleteall\"}\n\n## 5. book\nPurpose: Make a court reservation\nTrigger words: book, reserve, забронируй, zarezerwuj\narg1: JSON array with booking details\n\nExamples:\n- \"Book court 1 for tomorrow 16:00-17:00\" → {\"command\": \"book\", \"arg1\": [{\"court\":\"1\", \"date\":\"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\", \"time_start\":\"16:00\", \"time_end\":\"17:00\", \"players_num\":\"4\", \"notes\":\"\"}]}\n\n## 6. register\nPurpose: Save login credentials\nTrigger words: register, sign up, credentials\narg1: \"email password\" as single string\n\nExamples:\n- \"register user@mail.com pass123\" → {\"command\": \"register\", \"arg1\": \"user@mail.com pass123\"}\n\n## 7. play\nPurpose: Register to play on a reserved court\nTrigger words: play, join, join game, register for game, записаться на игру, dołącz do gry, хочу играть, zagraj, поиграть\narg1: Optional - date in YYYY-MM-DD format\narg2: Optional - start time in HH:MM format\n\nExamples:\n- \"I want to play\" → {\"command\": \"play\"}\n- \"join tomorrow's game\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"play 2026-01-17 19:00\" → {\"command\": \"play\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n- \"хочу играть в субботу в 16:00\" → {\"command\": \"play\", \"arg1\": \"2026-01-18\", \"arg2\": \"16:00\"}\n- \"zapisz mnie na jutro na 18\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\", \"arg2\": \"18:00\"}\n- \"join the 7pm game on Friday\" → {\"command\": \"play\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n- \"поиграем завтра?\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n\n## 8. noshow\nPurpose: Cancel registration for a session you previously signed up for\nTrigger words: noshow, unregister, cancel registration, can't make it, не могу прийти, rezygnuję, odpadam\narg1: Optional - date in YYYY-MM-DD format\narg2: Optional - start time in HH:MM format\n\nExamples:\n- \"I can't make it\" → {\"command\": \"noshow\"}\n- \"cancel my registration\" → {\"command\": \"noshow\"}\n- \"не могу прити завтра\" → {\"command\": \"noshow\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"odpowiadam na jutro\" → {\"command\": \"noshow\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"noshow 2026-01-17 19:00\" → {\"command\": \"noshow\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n\n## 9. help\nPurpose: Show available commands\nTrigger words: help, pomoc, pomoc, помощь\nNo arguments.\n\n## 10. start\nPurpose: Start the bot / welcome message\nTrigger words: start, begin, начать, zacznij\nNo arguments.\n\n---\n\n# DATE CONVERSION RULES\n\n| Input | Output |\n|-------|--------|\n| today | {{ $today.format('yyyy-MM-dd') }} |\n| tomorrow | {{ $today.plus({days: 1}).format('yyyy-MM-dd') }} |\n| Saturday | next Saturday's date |\n| 27.12 | {{ $today.format('yyyy') }}-12-27 |\n\nRULE: Always use FUTURE dates.\n\n---\n\n# TIME CONVERSION RULES\n\n| Input | Output |\n|-------|--------|\n| 7pm | 19:00 |\n| 16:00 | 16:00 |\n| at 18 | 18:00 |\n| в 19 часов | 19:00 |\n| o 16 | 16:00 |\n\n---\n\n# OUTPUT RULES\n1. Return ONLY valid JSON\n2. Fields: \"command\" (required), \"arg1\" (optional), \"arg2\" (optional)\n3. NO explanation, NO thinking, NO markdown\n4. arg1 is a string or JSON array (for book), arg2 is always a string"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1648,
        832
      ],
      "id": "1a5277f2-62ea-4c18-a882-e431def2d443",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wYEfXMLutTlrEgBq",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "arg1": "={{ $json.arg1 }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "fullname": "={{ $json.fullname }}",
            "lang": "={{ $json.lang }}"
          },
          "schema": [
            {
              "id": "arg1",
              "displayName": "arg1",
              "required": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "type": "string"
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": true,
              "type": "string"
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": true,
              "type": "string"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "nlp-exec-delete",
      "name": "Execute Delete",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3008,
        576
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "show-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "show",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "show"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "book-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "book",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "book"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "list-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "delete-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "register-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "register",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "register"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "deleteall-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "deleteall",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deleteall"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "help-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "start-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "play-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "play",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "play"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "noshow-cond",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "noshow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noshow"
            }
          ]
        },
        "options": {}
      },
      "id": "nlp-command-switch",
      "name": "NLP Command Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2672,
        464
      ]
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        384
      ],
      "id": "335f530d-a639-4a8e-83dd-d236f51249ca",
      "name": "Send a chat action",
      "webhookId": "ff016420-be64-4d5e-b454-2fc9453945c4",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "51Y9SIV139LvX5jl",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "fullname": "={{ $json.fullname }}",
            "lang": "={{ $json.lang }}"
          },
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "type": "string"
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": true,
              "type": "string"
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": true,
              "type": "string"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "nlp-exec-list",
      "name": "Execute List",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3232,
        432
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p5NpS5X1VLPdY3mX",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "arg1": "={{ $json.arg1 }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "fullname": "={{ $json.fullname }}",
            "lang": "={{ $json.lang }}"
          },
          "schema": [
            {
              "id": "arg1",
              "displayName": "arg1",
              "required": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "type": "string"
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "type": "string"
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": true,
              "type": "string"
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": true,
              "type": "string"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "nlp-exec-book",
      "name": "Execute Book",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HFeE52YK9tAzKTpk",
          "mode": "list",
          "cachedResultUrl": "/workflow/HFeE52YK9tAzKTpk",
          "cachedResultName": "Show Command"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "arg1": "={{ $json.arg1 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "arg1",
              "displayName": "arg1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "nlp-exec-show",
      "name": "Execute Show",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3168,
        144
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id",
              "type": "any"
            },
            {
              "name": "user_id",
              "type": "any"
            },
            {
              "name": "username",
              "type": "any"
            },
            {
              "name": "fullname",
              "type": "any"
            },
            {
              "name": "lang",
              "type": "any"
            },
            {
              "name": "text",
              "type": "any"
            }
          ]
        }
      },
      "id": "cb088e16-c752-4c44-b17c-37a8576ca5a7",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        928,
        608
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZLkal1BIG7llifwz",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "arg1": "={{ $json.arg1 }}",
            "lang": "={{ $json.lang }}",
            "chat_id_firstItem": "={{ $('Cmd Parse').first().json.chat_id }}"
          },
          "matchingColumns": [
            "arg1",
            "lang",
            "chat_id_firstItem"
          ],
          "schema": [
            {
              "id": "arg1",
              "displayName": "arg1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id_firstItem",
              "displayName": "chat_id_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3136,
        896
      ],
      "name": "Call Help Command",
      "id": "0c589faa-0104-4125-a9fc-6d26e80df0c3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f87vmsseGzVtHF8j",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lang_firstItem": "={{ $('Cmd Parse').first().json.lang }}",
            "chat_id_firstItem": "={{ $('Cmd Parse').first().json.chat_id }}"
          },
          "matchingColumns": [
            "lang_firstItem",
            "chat_id_firstItem"
          ],
          "schema": [
            {
              "id": "lang_firstItem",
              "displayName": "lang_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id_firstItem",
              "displayName": "chat_id_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3232,
        1056
      ],
      "name": "Call Start Command",
      "id": "b4d550fd-b135-4049-962c-85166f686ab4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "beed379a-0109-468d-accd-0c812afc851a",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        608
      ],
      "id": "c0677153-9ced-4bc7-93cf-481fad13394f",
      "name": "If command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce8eebdd-c313-4444-a1bd-dcde56619a0d",
              "name": "command",
              "type": "string",
              "value": "={{ $json.text.toLowerCase().replace(/^\\//, '').split(/ (.+)/)[0] || '' }}"
            },
            {
              "id": "834f7369-52f1-4df3-bfcb-754be0bb11e0",
              "name": "arg1",
              "type": "string",
              "value": "={{ (() => { const parts = $json.text.toLowerCase().replace(/^\\//, '').split(/\\s+/); return parts[1] || ''; })() }}"
            },
            {
              "id": "arg2-new",
              "name": "arg2",
              "type": "string",
              "value": "={{ (() => { const parts = $json.text.toLowerCase().replace(/^\\//, '').split(/\\s+/); return parts[2] || ''; })() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "chat_id,user_id,username,fullname,lang",
        "options": {}
      },
      "id": "da92508e-a9c4-4b85-9ce4-fd129fe138e0",
      "name": "Cmd Parse",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d93a5d1-a32c-47cc-a3c6-74b91257ed56",
              "name": "command",
              "type": "string",
              "value": "={{ $json.output.command }}"
            },
            {
              "id": "f6da0a82-5850-41d2-be86-f8406c622c69",
              "name": "arg1",
              "type": "string",
              "value": "={{ $json.output.arg1 }}"
            },
            {
              "id": "arg2-nlp",
              "name": "arg2",
              "type": "string",
              "value": "={{ $json.output.arg2 }}"
            },
            {
              "id": "2c46b611-7ed7-4d1c-a406-7e55832101ea",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Set args').item.json.chat_id }}"
            },
            {
              "id": "338a3726-f58e-4a2b-81be-4a8ed8203efe",
              "name": "user_id",
              "type": "string",
              "value": "={{ $('Set args').item.json.user_id }}"
            },
            {
              "id": "67edd464-cb6a-46b1-ab45-ef80da23a705",
              "name": "lang",
              "type": "string",
              "value": "={{ $('Set args').item.json.lang }}"
            },
            {
              "id": "dcd57565-c08b-438d-a675-e52263ba2b76",
              "name": "username",
              "type": "string",
              "value": "={{ $('Set args').item.json.username }}"
            },
            {
              "id": "f03df867-7c46-4eb4-bac1-a9bde25fb174",
              "name": "fullname",
              "type": "string",
              "value": "={{ $('Set args').item.json.fullname }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        832
      ],
      "id": "20f8862f-1a56-47e5-a5d7-31434e073e73",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "CRCVg9hV0gdk0WNb"
        },
        "workflowInputs": {
          "value": {
            "arg1": "={{ $json.arg1 }}",
            "arg2": "={{ $json.arg2 }}",
            "lang": "={{ $json.lang }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "fullname": "={{ $json.fullname }}",
            "username": "={{ $json.username }}"
          },
          "schema": [
            {
              "id": "arg1",
              "type": "string",
              "required": false,
              "displayName": "arg1"
            },
            {
              "id": "arg2",
              "type": "string",
              "required": false,
              "displayName": "arg2"
            },
            {
              "id": "chat_id",
              "type": "string",
              "required": true,
              "displayName": "chat_id"
            },
            {
              "id": "user_id",
              "type": "string",
              "required": true,
              "displayName": "user_id"
            },
            {
              "id": "username",
              "type": "string",
              "required": true,
              "displayName": "username"
            },
            {
              "id": "fullname",
              "type": "string",
              "required": true,
              "displayName": "fullname"
            },
            {
              "id": "lang",
              "type": "string",
              "required": true,
              "displayName": "lang"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "exec-play",
      "name": "Execute Play",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3328,
        1264
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "RURORDihq0oJJTKJ"
        },
        "workflowInputs": {
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "fullname": "={{ $json.fullname }}",
            "lang": "={{ $json.lang }}",
            "arg1": "={{ $json.arg1 }}",
            "arg2": "={{ $json.arg2 }}"
          },
          "schema": [
            {
              "id": "chat_id",
              "type": "string",
              "required": false,
              "displayName": "chat_id",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "type": "string",
              "required": false,
              "displayName": "user_id",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "type": "string",
              "required": false,
              "displayName": "username",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "fullname",
              "type": "string",
              "required": false,
              "displayName": "fullname",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "type": "string",
              "required": false,
              "displayName": "lang",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "arg1",
              "type": "string",
              "required": false,
              "displayName": "arg1",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "arg2",
              "type": "string",
              "required": false,
              "displayName": "arg2",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "71e0882a-2ae9-4532-ab48-2418e847fab5",
      "name": "Execute Noshow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3136,
        1344
      ]
    }
  ],
  "connections": {
    "Set args": {
      "main": [
        [
          {
            "node": "If command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "NLP Command Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP Command Switch": {
      "main": [
        [
          {
            "node": "Execute Show",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Book",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NLP Execute Register",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Delete All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Help Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Start Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Play",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Noshow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP Execute Register": {
      "main": [
        []
      ]
    },
    "Execute Show": {
      "main": [
        []
      ]
    },
    "Execute Book": {
      "main": [
        []
      ]
    },
    "Execute List": {
      "main": [
        []
      ]
    },
    "Execute Delete": {
      "main": [
        []
      ]
    },
    "Execute Delete All": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set args",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If command": {
      "main": [
        [
          {
            "node": "Cmd Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cmd Parse": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "versionId": "66e10c60-f18e-4e00-9362-b377e35a231d",
  "activeVersionId": "89d0bd76-62a4-448b-90ad-44a9265a516b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-11T18:21:47.335Z",
      "createdAt": "2026-01-11T18:21:47.335Z",
      "role": "workflow:owner",
      "workflowId": "QbD3Epml4ANF9vr0",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-14T19:40:15.822Z",
    "createdAt": "2026-01-14T19:40:15.822Z",
    "versionId": "89d0bd76-62a4-448b-90ad-44a9265a516b",
    "workflowId": "QbD3Epml4ANF9vr0",
    "nodes": [
      {
        "parameters": {
          "model": "cnshenyang/qwen3-nothink:14b",
          "options": {
            "format": "json"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmOllama",
        "typeVersion": 1,
        "position": [
          1712,
          1232
        ],
        "id": "8c1a80e5-56e4-4951-b69b-3b9826599a75",
        "name": "Ollama Model1",
        "credentials": {
          "ollamaApi": {
            "id": "OwoNqqKy33Tzlan7",
            "name": "Ollama local"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "b7xXjE899CcIb9eo"
          },
          "workflowInputs": {
            "value": {
              "lang": "={{ $json.lang }}",
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "fullname": "={{ $json.fullname }}",
              "username": "={{ $json.username }}"
            },
            "schema": [
              {
                "id": "chat_id",
                "type": "string",
                "required": true,
                "displayName": "chat_id"
              },
              {
                "id": "user_id",
                "type": "string",
                "required": true,
                "displayName": "user_id"
              },
              {
                "id": "username",
                "type": "string",
                "required": true,
                "displayName": "username"
              },
              {
                "id": "fullname",
                "type": "string",
                "required": true,
                "displayName": "fullname"
              },
              {
                "id": "lang",
                "type": "string",
                "required": true,
                "displayName": "lang"
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "nlp-exec-deleteall",
        "name": "Execute Delete All",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3408,
          864
        ]
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "={\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Command Processor\",\n  \"type\": \"object\",\n  \"required\": [\n    \"command\"\n  ],\n  \"properties\": {\n    \"command\": {\n      \"enum\": [\n        \"show\",\n        \"list\",\n        \"delete\",\n        \"deleteall\",\n        \"book\",\n        \"register\",\n        \"play\",\n        \"noshow\",\n        \"help\",\n        \"start\"\n      ]\n    }\n  },\n  \"allOf\": [\n    {\n      \"comment\": \"Case 1: 'book' requires an array of booking objects\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"const\": \"book\"\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"arg1\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"court\": {\n                  \"type\": \"string\"\n                },\n                \"date\": {\n                  \"type\": \"string\",\n                  \"format\": \"date\"\n                },\n                \"time_start\": {\n                  \"type\": \"string\"\n                },\n                \"time_end\": {\n                  \"type\": \"string\"\n                },\n                \"players_num\": {\n                  \"type\": \"string\"\n                },\n                \"notes\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"court\",\n                \"date\",\n                \"time_start\",\n                \"time_end\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"arg1\"\n        ]\n      }\n    },\n    {\n      \"comment\": \"Case 2: 'show', 'delete', 'play', 'noshow' require a string (date/ID)\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"enum\": [\n              \"show\",\n              \"delete\",\n              \"play\",\n              \"noshow\"\n            ]\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"arg1\": {\n            \"type\": \"string\"\n          },\n          \"arg2\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    {\n      \"comment\": \"Case 3: 'list', 'deleteall', 'register', 'help', 'start' have no required args\",\n      \"if\": {\n        \"properties\": {\n          \"command\": {\n            \"enum\": [\n              \"list\",\n              \"deleteall\",\n              \"register\",\n              \"help\",\n              \"start\"\n            ]\n          }\n        }\n      },\n      \"then\": {\n        \"not\": {\n          \"required\": [\n            \"arg1\"\n          ]\n        }\n      }\n    }\n  ]\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1712,
          1040
        ],
        "id": "fd11d4a8-90b2-4ce9-9451-29bc14ccf1a1",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": "cnshenyang/qwen3-nothink:14b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          1504,
          1040
        ],
        "id": "14e5a540-a2b5-4ae1-a4e0-805e680f8632",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "OwoNqqKy33Tzlan7",
            "name": "Ollama local"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "glm-4.5-air",
            "mode": "list",
            "cachedResultName": "glm-4.5-air"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1616,
          1040
        ],
        "id": "764d6a14-f52b-41e3-832d-0e22ae1b8595",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ciQFZjyEyaubkBmg",
            "name": "z.ai"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "w8lC6D3QXh47u6w1",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "username": "={{ $json.username }}",
              "fullname": "={{ $json.fullname }}",
              "lang": "={{ $json.lang }}"
            },
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "username",
                "displayName": "username",
                "required": true,
                "type": "string"
              },
              {
                "id": "fullname",
                "displayName": "fullname",
                "required": true,
                "type": "string"
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": true,
                "type": "string"
              }
            ],
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "nlp-exec-register",
        "name": "NLP Execute Register",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3248,
          704
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dc0b16aa-f29a-474f-8285-51d18e336122",
                "name": "chat_id",
                "value": "={{ $json.chat_id }}",
                "type": "string"
              },
              {
                "id": "0e3401ee-0d12-423d-a865-83cf5c5e8b3a",
                "name": "user_id",
                "value": "={{ $json.user_id }}",
                "type": "string"
              },
              {
                "id": "2b1ac2e1-da8f-4546-a385-4dd86426e72b",
                "name": "username",
                "value": "={{ $json.username }}",
                "type": "string"
              },
              {
                "id": "f854f4d1-681e-4384-9a8b-77cb316ccdad",
                "name": "fullname",
                "value": "={{ $json.fullname }}",
                "type": "string"
              },
              {
                "id": "367396cb-c5ef-492b-b7f9-71627abefaac",
                "name": "lang",
                "value": "={{ $json.lang }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "selected",
          "includeFields": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          608
        ],
        "id": "e9f32399-e18d-4ed6-babb-302ea9cd8186",
        "name": "Set args"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cmd",
                "name": "command",
                "type": "string",
                "value": "={{ $json.command }}"
              },
              {
                "id": "arg",
                "name": "arg1",
                "type": "string",
                "value": "={{ $json.arg1 }}"
              },
              {
                "id": "arg2",
                "name": "arg2",
                "type": "string",
                "value": "={{ $json.arg2 }}"
              },
              {
                "id": "cid",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $json.chat_id }}"
              },
              {
                "id": "uid",
                "name": "user_id",
                "type": "string",
                "value": "={{ $json.user_id }}"
              },
              {
                "id": "uname",
                "name": "username",
                "type": "string",
                "value": "={{ $json.username }}"
              },
              {
                "id": "fname",
                "name": "fullname",
                "type": "string",
                "value": "={{ $json.fullname }}"
              },
              {
                "id": "lng",
                "name": "lang",
                "type": "string",
                "value": "={{ $json.lang }}"
              }
            ]
          },
          "options": {}
        },
        "id": "merge-context-with-parsed",
        "name": "Merge Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2400,
          592
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Start').item.json.text }}",
          "hasOutputParser": true,
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# TASK\nParse user message into this JSON format:\n{\"command\": \"<COMMAND>\", \"arg1\": \"<ARGUMENT>\", \"arg2\": \"<ARGUMENT2>\"}\nCommand is mandatory. Arguments \"arg1\" and \"arg2\" are optional.\nNO other fields allowed. NO arrays in root (except for book command). JSON should be valid.\n\n---\n\n# CURRENT DATE\nToday: {{ $today.format('yyyy-MM-dd') }} ({{ $today.format('cccc') }})\nNow: {{ $now.format('yyyy-MM-dd HH:mm') }}\n\n---\n\n# COMMANDS REFERENCE\n\n## 1. show\nPurpose: Display court availability\nTrigger words: show, available, free, schedule, what's open, расписание, покажи, pokaż, wolne\narg1: Date string in YYYY-MM-DD format\n\nExamples:\n- \"show tomorrow\" → {\"command\": \"show\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"what's available Saturday\" → {\"command\": \"show\", \"arg1\": \"2026-01-17\"}\n\n## 2. list\nPurpose: Show user's reservations\nTrigger words: list, my reservations, my bookings, мои брони, moje rezerwacje\nNo arguments.\n\nExamples:\n- \"list my bookings\" → {\"command\": \"list\"}\n- \"Покажи мои брони\" → {\"command\": \"list\"}\n\n## 3. delete\nPurpose: Cancel ONE reservation by ID\nTrigger words: delete, cancel, remove + ID (NOT \"all\")\narg1: Reservation ID string\n\nExamples:\n- \"cancel 6952ec02dda30\" → {\"command\": \"delete\", \"arg1\": \"6952ec02dda30\"}\n\n## 4. deleteall\nPurpose: Cancel ALL reservations\nTrigger words: delete all, cancel all, remove all, отмени все, usuń wszystko\nNo arguments.\n\nExamples:\n- \"cancel all reservations\" → {\"command\": \"deleteall\"}\n\n## 5. book\nPurpose: Make a court reservation\nTrigger words: book, reserve, забронируй, zarezerwuj\narg1: JSON array with booking details\n\nExamples:\n- \"Book court 1 for tomorrow 16:00-17:00\" → {\"command\": \"book\", \"arg1\": [{\"court\":\"1\", \"date\":\"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\", \"time_start\":\"16:00\", \"time_end\":\"17:00\", \"players_num\":\"4\", \"notes\":\"\"}]}\n\n## 6. register\nPurpose: Save login credentials\nTrigger words: register, sign up, credentials\narg1: \"email password\" as single string\n\nExamples:\n- \"register user@mail.com pass123\" → {\"command\": \"register\", \"arg1\": \"user@mail.com pass123\"}\n\n## 7. play\nPurpose: Register to play on a reserved court\nTrigger words: play, join, join game, register for game, записаться на игру, dołącz do gry, хочу играть, zagraj, поиграть\narg1: Optional - date in YYYY-MM-DD format\narg2: Optional - start time in HH:MM format\n\nExamples:\n- \"I want to play\" → {\"command\": \"play\"}\n- \"join tomorrow's game\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"play 2026-01-17 19:00\" → {\"command\": \"play\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n- \"хочу играть в субботу в 16:00\" → {\"command\": \"play\", \"arg1\": \"2026-01-18\", \"arg2\": \"16:00\"}\n- \"zapisz mnie na jutro na 18\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\", \"arg2\": \"18:00\"}\n- \"join the 7pm game on Friday\" → {\"command\": \"play\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n- \"поиграем завтра?\" → {\"command\": \"play\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n\n## 8. noshow\nPurpose: Cancel registration for a session you previously signed up for\nTrigger words: noshow, unregister, cancel registration, can't make it, не могу прийти, rezygnuję, odpadam\narg1: Optional - date in YYYY-MM-DD format\narg2: Optional - start time in HH:MM format\n\nExamples:\n- \"I can't make it\" → {\"command\": \"noshow\"}\n- \"cancel my registration\" → {\"command\": \"noshow\"}\n- \"не могу прити завтра\" → {\"command\": \"noshow\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"odpowiadam na jutro\" → {\"command\": \"noshow\", \"arg1\": \"{{ $now.plus({days: 1}).format('yyyy-MM-dd') }}\"}\n- \"noshow 2026-01-17 19:00\" → {\"command\": \"noshow\", \"arg1\": \"2026-01-17\", \"arg2\": \"19:00\"}\n\n## 9. help\nPurpose: Show available commands\nTrigger words: help, pomoc, pomoc, помощь\nNo arguments.\n\n## 10. start\nPurpose: Start the bot / welcome message\nTrigger words: start, begin, начать, zacznij\nNo arguments.\n\n---\n\n# DATE CONVERSION RULES\n\n| Input | Output |\n|-------|--------|\n| today | {{ $today.format('yyyy-MM-dd') }} |\n| tomorrow | {{ $today.plus({days: 1}).format('yyyy-MM-dd') }} |\n| Saturday | next Saturday's date |\n| 27.12 | {{ $today.format('yyyy') }}-12-27 |\n\nRULE: Always use FUTURE dates.\n\n---\n\n# TIME CONVERSION RULES\n\n| Input | Output |\n|-------|--------|\n| 7pm | 19:00 |\n| 16:00 | 16:00 |\n| at 18 | 18:00 |\n| в 19 часов | 19:00 |\n| o 16 | 16:00 |\n\n---\n\n# OUTPUT RULES\n1. Return ONLY valid JSON\n2. Fields: \"command\" (required), \"arg1\" (optional), \"arg2\" (optional)\n3. NO explanation, NO thinking, NO markdown\n4. arg1 is a string or JSON array (for book), arg2 is always a string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          1648,
          832
        ],
        "id": "1a5277f2-62ea-4c18-a882-e431def2d443",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "wYEfXMLutTlrEgBq",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "arg1": "={{ $json.arg1 }}",
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "username": "={{ $json.username }}",
              "fullname": "={{ $json.fullname }}",
              "lang": "={{ $json.lang }}"
            },
            "schema": [
              {
                "id": "arg1",
                "displayName": "arg1",
                "required": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "username",
                "displayName": "username",
                "required": true,
                "type": "string"
              },
              {
                "id": "fullname",
                "displayName": "fullname",
                "required": true,
                "type": "string"
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": true,
                "type": "string"
              }
            ],
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "nlp-exec-delete",
        "name": "Execute Delete",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3008,
          576
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "show-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "show",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "show"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "book-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "book",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "book"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "list-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "list",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "list"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "delete-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "delete"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "register-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "register",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "register"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "deleteall-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "deleteall",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "deleteall"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "help-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "help",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "help"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "start-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "start"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "play-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "play",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "play"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "noshow-cond",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "noshow",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "noshow"
              }
            ]
          },
          "options": {}
        },
        "id": "nlp-command-switch",
        "name": "NLP Command Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2672,
          480
        ]
      },
      {
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $json.chat_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          384
        ],
        "id": "335f530d-a639-4a8e-83dd-d236f51249ca",
        "name": "Send a chat action",
        "webhookId": "ff016420-be64-4d5e-b454-2fc9453945c4",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "51Y9SIV139LvX5jl",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "username": "={{ $json.username }}",
              "fullname": "={{ $json.fullname }}",
              "lang": "={{ $json.lang }}"
            },
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "username",
                "displayName": "username",
                "required": true,
                "type": "string"
              },
              {
                "id": "fullname",
                "displayName": "fullname",
                "required": true,
                "type": "string"
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": true,
                "type": "string"
              }
            ],
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "nlp-exec-list",
        "name": "Execute List",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3232,
          432
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "p5NpS5X1VLPdY3mX",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "arg1": "={{ $json.arg1 }}",
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "username": "={{ $json.username }}",
              "fullname": "={{ $json.fullname }}",
              "lang": "={{ $json.lang }}"
            },
            "schema": [
              {
                "id": "arg1",
                "displayName": "arg1",
                "required": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": true,
                "type": "string"
              },
              {
                "id": "username",
                "displayName": "username",
                "required": true,
                "type": "string"
              },
              {
                "id": "fullname",
                "displayName": "fullname",
                "required": true,
                "type": "string"
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": true,
                "type": "string"
              }
            ],
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "nlp-exec-book",
        "name": "Execute Book",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3376,
          256
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "HFeE52YK9tAzKTpk",
            "mode": "list",
            "cachedResultUrl": "/workflow/HFeE52YK9tAzKTpk",
            "cachedResultName": "Show Command"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $json.chat_id }}",
              "arg1": "={{ $json.arg1 }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "arg1",
                "displayName": "arg1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "nlp-exec-show",
        "name": "Execute Show",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3168,
          144
        ]
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chat_id",
                "type": "any"
              },
              {
                "name": "user_id",
                "type": "any"
              },
              {
                "name": "username",
                "type": "any"
              },
              {
                "name": "fullname",
                "type": "any"
              },
              {
                "name": "lang",
                "type": "any"
              },
              {
                "name": "text",
                "type": "any"
              }
            ]
          }
        },
        "id": "cb088e16-c752-4c44-b17c-37a8576ca5a7",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          928,
          608
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZLkal1BIG7llifwz",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "arg1": "={{ $json.arg1 }}",
              "lang": "={{ $json.lang }}",
              "chat_id_firstItem": "={{ $('Cmd Parse').first().json.chat_id }}"
            },
            "matchingColumns": [
              "arg1",
              "lang",
              "chat_id_firstItem"
            ],
            "schema": [
              {
                "id": "arg1",
                "displayName": "arg1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "chat_id_firstItem",
                "displayName": "chat_id_firstItem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3040,
          880
        ],
        "name": "Call Help Command",
        "id": "0c589faa-0104-4125-a9fc-6d26e80df0c3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "f87vmsseGzVtHF8j",
            "mode": "list"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "lang_firstItem": "={{ $('Cmd Parse').first().json.lang }}",
              "chat_id_firstItem": "={{ $('Cmd Parse').first().json.chat_id }}"
            },
            "matchingColumns": [
              "lang_firstItem",
              "chat_id_firstItem"
            ],
            "schema": [
              {
                "id": "lang_firstItem",
                "displayName": "lang_firstItem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "chat_id_firstItem",
                "displayName": "chat_id_firstItem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3120,
          1088
        ],
        "name": "Call Start Command",
        "id": "b4d550fd-b135-4049-962c-85166f686ab4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "beed379a-0109-468d-accd-0c812afc851a",
                "leftValue": "={{ $json.text }}",
                "rightValue": "/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1344,
          608
        ],
        "id": "c0677153-9ced-4bc7-93cf-481fad13394f",
        "name": "If command"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ce8eebdd-c313-4444-a1bd-dcde56619a0d",
                "name": "command",
                "type": "string",
                "value": "={{ $json.text.toLowerCase().replace(/^\\//, '').split(/ (.+)/)[0] || '' }}"
              },
              {
                "id": "834f7369-52f1-4df3-bfcb-754be0bb11e0",
                "name": "arg1",
                "type": "string",
                "value": "={{ (() => { const parts = $json.text.toLowerCase().replace(/^\\//, '').split(/\\s+/); return parts[1] || ''; })() }}"
              },
              {
                "id": "arg2-new",
                "name": "arg2",
                "type": "string",
                "value": "={{ (() => { const parts = $json.text.toLowerCase().replace(/^\\//, '').split(/\\s+/); return parts[2] || ''; })() }}"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "selected",
          "includeFields": "chat_id,user_id,username,fullname,lang",
          "options": {}
        },
        "id": "da92508e-a9c4-4b85-9ce4-fd129fe138e0",
        "name": "Cmd Parse",
        "type": "n8n-nodes-base.set",
        "position": [
          1648,
          592
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4d93a5d1-a32c-47cc-a3c6-74b91257ed56",
                "name": "command",
                "type": "string",
                "value": "={{ $json.output.command }}"
              },
              {
                "id": "f6da0a82-5850-41d2-be86-f8406c622c69",
                "name": "arg1",
                "type": "string",
                "value": "={{ $json.output.arg1 }}"
              },
              {
                "id": "arg2-nlp",
                "name": "arg2",
                "type": "string",
                "value": "={{ $json.output.arg2 }}"
              },
              {
                "id": "2c46b611-7ed7-4d1c-a406-7e55832101ea",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Set args').item.json.chat_id }}"
              },
              {
                "id": "338a3726-f58e-4a2b-81be-4a8ed8203efe",
                "name": "user_id",
                "type": "string",
                "value": "={{ $('Set args').item.json.user_id }}"
              },
              {
                "id": "67edd464-cb6a-46b1-ab45-ef80da23a705",
                "name": "lang",
                "type": "string",
                "value": "={{ $('Set args').item.json.lang }}"
              },
              {
                "id": "dcd57565-c08b-438d-a675-e52263ba2b76",
                "name": "username",
                "type": "string",
                "value": "={{ $('Set args').item.json.username }}"
              },
              {
                "id": "f03df867-7c46-4eb4-bac1-a9bde25fb174",
                "name": "fullname",
                "type": "string",
                "value": "={{ $('Set args').item.json.fullname }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2032,
          832
        ],
        "id": "20f8862f-1a56-47e5-a5d7-31434e073e73",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "CRCVg9hV0gdk0WNb"
          },
          "workflowInputs": {
            "value": {
              "arg1": "={{ $json.arg1 }}",
              "arg2": "={{ $json.arg2 }}",
              "lang": "={{ $json.lang }}",
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "fullname": "={{ $json.fullname }}",
              "username": "={{ $json.username }}"
            },
            "schema": [
              {
                "id": "arg1",
                "type": "string",
                "required": false,
                "displayName": "arg1"
              },
              {
                "id": "arg2",
                "type": "string",
                "required": false,
                "displayName": "arg2"
              },
              {
                "id": "chat_id",
                "type": "string",
                "required": true,
                "displayName": "chat_id"
              },
              {
                "id": "user_id",
                "type": "string",
                "required": true,
                "displayName": "user_id"
              },
              {
                "id": "username",
                "type": "string",
                "required": true,
                "displayName": "username"
              },
              {
                "id": "fullname",
                "type": "string",
                "required": true,
                "displayName": "fullname"
              },
              {
                "id": "lang",
                "type": "string",
                "required": true,
                "displayName": "lang"
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "exec-play",
        "name": "Execute Play",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3088,
          1296
        ]
      },
      {
        "id": "71e0882a-2ae9-4532-ab48-2418e847fab5",
        "name": "Execute Noshow",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3400,
          1500
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "RURORDihq0oJJTKJ"
          },
          "workflowInputs": {
            "value": {
              "chat_id": "={{ $json.chat_id }}",
              "user_id": "={{ $json.user_id }}",
              "username": "={{ $json.username }}",
              "fullname": "={{ $json.fullname }}",
              "lang": "={{ $json.lang }}",
              "arg1": "={{ $json.arg1 }}",
              "arg2": "={{ $json.arg2 }}"
            },
            "schema": [
              {
                "id": "chat_id",
                "type": "string",
                "required": false,
                "displayName": "chat_id",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "user_id",
                "type": "string",
                "required": false,
                "displayName": "user_id",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "username",
                "type": "string",
                "required": false,
                "displayName": "username",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "fullname",
                "type": "string",
                "required": false,
                "displayName": "fullname",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "lang",
                "type": "string",
                "required": false,
                "displayName": "lang",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "arg1",
                "type": "string",
                "required": false,
                "displayName": "arg1",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "arg2",
                "type": "string",
                "required": false,
                "displayName": "arg2",
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        }
      }
    ],
    "connections": {
      "Set args": {
        "main": [
          [
            {
              "node": "If command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Context": {
        "main": [
          [
            {
              "node": "NLP Command Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NLP Command Switch": {
        "main": [
          [
            {
              "node": "Execute Show",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Book",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute List",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Delete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NLP Execute Register",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Delete All",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Help Command",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Start Command",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Play",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Noshow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NLP Execute Register": {
        "main": [
          []
        ]
      },
      "Execute Show": {
        "main": [
          []
        ]
      },
      "Execute Book": {
        "main": [
          []
        ]
      },
      "Execute List": {
        "main": [
          []
        ]
      },
      "Execute Delete": {
        "main": [
          []
        ]
      },
      "Execute Delete All": {
        "main": [
          []
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Send a chat action",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set args",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If command": {
        "main": [
          [
            {
              "node": "Cmd Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cmd Parse": {
        "main": [
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}