workflows/Data Ingestion.json
{
  "updatedAt": "2025-12-31T10:28:36.718Z",
  "createdAt": "2025-12-03T22:10:58.360Z",
  "id": "wpQX6RoYdNRMsPZm",
  "name": "Data Ingestion",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ingestion form",
        "formDescription": "Upload files with your data",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Drop here",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -720,
        -16
      ],
      "id": "59c2f003-8891-4467-bfad-7b64bdf513c4",
      "name": "On form submission",
      "webhookId": "b338276b-5f58-4938-8d2c-99ef97d21ff4"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=badm_data",
          "mode": "id"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -448,
        -16
      ],
      "id": "86f98504-0594-48cd-aca9-34308a80b86b",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "R97Yi6THM8qVyAcv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json['Drop here'][0].filename }}"
              },
              {
                "name": "submittedAt",
                "value": "={{ $json.submittedAt }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -480,
        192
      ],
      "id": "251aa54a-e505-4e3b-8558-e3bc3aec1709",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## PDF files\n",
        "height": 656,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -128
      ],
      "typeVersion": 1,
      "id": "7473c337-7861-425b-b4f2-177d24dcfe2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "txt",
        "formDescription": "Markdown text files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Drop txt file",
              "fieldType": "file",
              "acceptFileTypes": ".txt,.json",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        32,
        -16
      ],
      "id": "e55e5608-7703-4e35-9355-760f54427c1c",
      "name": "On form submission1",
      "webhookId": "2ded3b2c-d12f-4474-ac8c-9098fcc4323b"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=badm_data",
          "mode": "id"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        240,
        -16
      ],
      "id": "aad13a58-27d5-4a81-9aaa-5c034cd53bf1",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "R97Yi6THM8qVyAcv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json['Drop txt file'][0].filename }}"
              },
              {
                "name": "submittedAt",
                "value": "={{ $json.submittedAt }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        192
      ],
      "id": "cacae7ed-2e78-4493-bad7-e9bcc9affbe3",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "content": "## TXT and MD\nThe default data loader may not support markdown (.md) files directly, often resulting in MIME type errors. A workaround is to rename the files to .txt, which allows them to be processed without issues. The chunk splitting sequence is *, not a newline",
        "height": 656,
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -128
      ],
      "typeVersion": 1,
      "id": "9e1b7f24-5a06-474f-b395-10811af14b5b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "summaryPrompt": "Summarize the following document in 5-10 sentences, focusing on the main topics and concepts that would help retrieve relevant chunks.",
        "contextPrompt": "Using the document summary above, generate a brief contextual description that explains what this specific chunk covers and how it relates to the overall document. Focus on the unique aspects of the chunk. Keep it to 2-3 sentences and answer only with the context.",
        "includeLabels": true,
        "options": {
          "secondPassThreshold": 0.7,
          "minChunkSize": 50,
          "maxChunkSize": 500,
          "sentenceSplitRegex": "\\n*\\s*(?=\\d+\\.\\s+)"
        }
      },
      "type": "n8n-nodes-semantic-splitter-with-context.contextualSemanticTextSplitterWithContext",
      "typeVersion": 1,
      "position": [
        -560,
        352
      ],
      "id": "358d818d-1c11-4bf0-8b6f-6eba8affe152",
      "name": "Semantic Splitter with Context"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.7",
          "mode": "list",
          "cachedResultName": "glm-4.7"
        },
        "responsesApiEnabled": false,
        "options": {
          "timeout": 3000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        544
      ],
      "id": "20de295c-1568-4eca-80c7-e227645a7d05",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ciQFZjyEyaubkBmg",
          "name": "z.ai"
        }
      }
    },
    {
      "parameters": {
        "separator": "*"
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        400
      ],
      "id": "6b928533-7a27-4a96-8c9f-48606882280c",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -176,
        544
      ],
      "id": "4640cef4-888f-4166-8374-405601b731f2",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "OwoNqqKy33Tzlan7",
          "name": "Ollama local"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Splitter with Context": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Semantic Splitter with Context",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Semantic Splitter with Context",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "74d4f794-93b1-475e-b339-2ca5707e2a08",
  "activeVersionId": "74d4f794-93b1-475e-b339-2ca5707e2a08",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-03T22:10:58.363Z",
      "createdAt": "2025-12-03T22:10:58.363Z",
      "role": "workflow:owner",
      "workflowId": "wpQX6RoYdNRMsPZm",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-02T15:06:42.000Z",
    "createdAt": "2025-12-31T10:28:36.718Z",
    "versionId": "74d4f794-93b1-475e-b339-2ca5707e2a08",
    "workflowId": "wpQX6RoYdNRMsPZm",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Ingestion form",
          "formDescription": "Upload files with your data",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Drop here",
                "fieldType": "file",
                "acceptFileTypes": ".pdf"
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -720,
          -16
        ],
        "id": "59c2f003-8891-4467-bfad-7b64bdf513c4",
        "name": "On form submission",
        "webhookId": "b338276b-5f58-4938-8d2c-99ef97d21ff4"
      },
      {
        "parameters": {
          "mode": "insert",
          "qdrantCollection": {
            "__rl": true,
            "value": "=badm_data",
            "mode": "id"
          },
          "embeddingBatchSize": 20,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -448,
          -16
        ],
        "id": "86f98504-0594-48cd-aca9-34308a80b86b",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "R97Yi6THM8qVyAcv",
            "name": "QdrantApi account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "loader": "pdfLoader",
          "textSplittingMode": "custom",
          "options": {
            "splitPages": true,
            "metadata": {
              "metadataValues": [
                {
                  "name": "filename",
                  "value": "={{ $json['Drop here'][0].filename }}"
                },
                {
                  "name": "submittedAt",
                  "value": "={{ $json.submittedAt }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          -480,
          192
        ],
        "id": "251aa54a-e505-4e3b-8558-e3bc3aec1709",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "content": "## PDF files\n",
          "height": 656,
          "width": 672
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -864,
          -128
        ],
        "typeVersion": 1,
        "id": "7473c337-7861-425b-b4f2-177d24dcfe2a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "formTitle": "txt",
          "formDescription": "Markdown text files",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Drop txt file",
                "fieldType": "file",
                "acceptFileTypes": ".txt,.json",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          32,
          -16
        ],
        "id": "e55e5608-7703-4e35-9355-760f54427c1c",
        "name": "On form submission1",
        "webhookId": "2ded3b2c-d12f-4474-ac8c-9098fcc4323b"
      },
      {
        "parameters": {
          "mode": "insert",
          "qdrantCollection": {
            "__rl": true,
            "value": "=badm_data",
            "mode": "id"
          },
          "embeddingBatchSize": 1,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          240,
          -16
        ],
        "id": "aad13a58-27d5-4a81-9aaa-5c034cd53bf1",
        "name": "Qdrant Vector Store1",
        "credentials": {
          "qdrantApi": {
            "id": "R97Yi6THM8qVyAcv",
            "name": "QdrantApi account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "filename",
                  "value": "={{ $json['Drop txt file'][0].filename }}"
                },
                {
                  "name": "submittedAt",
                  "value": "={{ $json.submittedAt }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          208,
          192
        ],
        "id": "cacae7ed-2e78-4493-bad7-e9bcc9affbe3",
        "name": "Default Data Loader1"
      },
      {
        "parameters": {
          "content": "## TXT and MD\nThe default data loader may not support markdown (.md) files directly, often resulting in MIME type errors. A workaround is to rename the files to .txt, which allows them to be processed without issues. The chunk splitting sequence is *, not a newline",
          "height": 656,
          "width": 576,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -80,
          -128
        ],
        "typeVersion": 1,
        "id": "9e1b7f24-5a06-474f-b395-10811af14b5b",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "summaryPrompt": "Summarize the following document in 5-10 sentences, focusing on the main topics and concepts that would help retrieve relevant chunks.",
          "contextPrompt": "Using the document summary above, generate a brief contextual description that explains what this specific chunk covers and how it relates to the overall document. Focus on the unique aspects of the chunk. Keep it to 2-3 sentences and answer only with the context.",
          "includeLabels": true,
          "options": {
            "secondPassThreshold": 0.7,
            "minChunkSize": 50,
            "maxChunkSize": 500,
            "sentenceSplitRegex": "\\n*\\s*(?=\\d+\\.\\s+)"
          }
        },
        "type": "n8n-nodes-semantic-splitter-with-context.contextualSemanticTextSplitterWithContext",
        "typeVersion": 1,
        "position": [
          -560,
          352
        ],
        "id": "358d818d-1c11-4bf0-8b6f-6eba8affe152",
        "name": "Semantic Splitter with Context"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "glm-4.7",
            "mode": "list",
            "cachedResultName": "glm-4.7"
          },
          "responsesApiEnabled": false,
          "options": {
            "timeout": 3000000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -560,
          544
        ],
        "id": "20de295c-1568-4eca-80c7-e227645a7d05",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ciQFZjyEyaubkBmg",
            "name": "z.ai"
          }
        }
      },
      {
        "parameters": {
          "separator": "*"
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          208,
          400
        ],
        "id": "6b928533-7a27-4a96-8c9f-48606882280c",
        "name": "Character Text Splitter"
      },
      {
        "parameters": {
          "model": "nomic-embed-text:latest"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          -176,
          544
        ],
        "id": "4640cef4-888f-4166-8374-405601b731f2",
        "name": "Embeddings Ollama",
        "credentials": {
          "ollamaApi": {
            "id": "OwoNqqKy33Tzlan7",
            "name": "Ollama local"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "On form submission1": {
        "main": [
          [
            {
              "node": "Qdrant Vector Store1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Qdrant Vector Store1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Semantic Splitter with Context": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Semantic Splitter with Context",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader1",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Ollama": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store1",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Semantic Splitter with Context",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version 74d4f794",
    "description": "",
    "autosaved": false
  },
  "tags": []
}