workflows/Delete All Command.json
{
  "updatedAt": "2026-01-01T12:55:44.042Z",
  "createdAt": "2025-12-31T15:42:26.918Z",
  "id": "b7xXjE899CcIb9eo",
  "name": "Delete All Command",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-deleteall",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -864,
        176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst chat_id = input.chat_id;\nconst lang = input.lang || 'en';\n\nreturn [{ json: {\n  chat_id,\n  lang,\n  user_id: input.user_id\n}}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "position": [
        -640,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-user-credentials",
      "name": "Get User Credentials",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -416,
        176
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-hash",
              "leftValue": "={{ $json.hash }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "check-hash-not-empty",
              "leftValue": "={{ $json.hash }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hash-exists",
      "name": "Check Hash Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -176,
        176
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "login",
        "toolParameters": "={\"email\":\"{{$json.email}}\", \"password\": \"{{ $json.hash }}\"}"
      },
      "id": "login",
      "name": "Login",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        64,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-session",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json.result.structuredContent.session_id }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-user-credentials",
      "name": "Check User Credentials",
      "type": "n8n-nodes-base.if",
      "position": [
        304,
        160
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-id",
              "name": "user_id",
              "type": "string",
              "value": "={{ $('Validate Input').item.json.user_id }}"
            },
            {
              "id": "session-id",
              "name": "session_id",
              "type": "string",
              "value": "={{ $json.result.structuredContent.session_id }}"
            },
            {
              "id": "chat-id",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Validate Input').first().json.chat_id }}"
            },
            {
              "id": "lang",
              "name": "lang",
              "type": "string",
              "value": "={{ $('Validate Input').first().json.lang }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-context",
      "name": "Set Delete All Context",
      "type": "n8n-nodes-base.set",
      "position": [
        544,
        -48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "delete_all_reservations",
        "toolParameters": "={{ JSON.stringify({ session_id: $json.session_id }) }}"
      },
      "id": "mcp-delete-all",
      "name": "MCP Delete All Reservations",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        800,
        -48
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.result.structuredContent.success }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-delete-result",
      "name": "Check Delete Result",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        -48
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reservations",
          "mode": "list",
          "cachedResultName": "reservations"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Set Delete All Context').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "delete-all-from-db",
      "name": "Delete All from DB",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1312,
        -64
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "translations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "deleteall_success"
            },
            {
              "column": "lang",
              "value": "={{ $('Validate Input').item.json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-success-translation",
      "name": "Get Success Translation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1568,
        -64
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Set Delete All Context').first().json.chat_id }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.text.replace('{count}', $('MCP Delete All Reservations').first().json.result.structuredContent.deleted_count || '0') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success-message",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        -64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "translations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "deleteall_no_credentials"
            },
            {
              "column": "lang",
              "value": "={{ $('Validate Input').first().json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-no-creds-translation",
      "name": "Get No Credentials Translation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        544,
        288
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Validate Input').first().json.chat_id }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-no-creds-message",
      "name": "Format No Credentials Message",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "translations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "deleteall_error"
            },
            {
              "column": "lang",
              "value": "={{ $('Validate Input').item.json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-api-error-translation",
      "name": "Get API Error Translation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1568,
        112
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Set Delete All Context').first().json.chat_id }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.text.replace('{error}', $('MCP Delete All Reservations').first().json.result.structuredContent.message || 'Unknown error') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-api-error-message",
      "name": "Format API Error Message",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate Input').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-message",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2080,
        176
      ],
      "typeVersion": 1.2,
      "webhookId": "deleteall-msg",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Credentials": {
      "main": [
        [
          {
            "node": "Check Hash Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hash Exists": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get No Credentials Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Check User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Credentials": {
      "main": [
        [
          {
            "node": "Set Delete All Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get No Credentials Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Delete All Context": {
      "main": [
        [
          {
            "node": "MCP Delete All Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Delete All Reservations": {
      "main": [
        [
          {
            "node": "Check Delete Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delete Result": {
      "main": [
        [
          {
            "node": "Delete All from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get API Error Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All from DB": {
      "main": [
        [
          {
            "node": "Get Success Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Success Translation": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get No Credentials Translation": {
      "main": [
        [
          {
            "node": "Format No Credentials Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No Credentials Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Error Translation": {
      "main": [
        [
          {
            "node": "Format API Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format API Error Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "versionId": "bcb53b07-3664-4b55-9c71-870a90d5e871",
  "activeVersionId": "bcb53b07-3664-4b55-9c71-870a90d5e871",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-31T15:42:26.920Z",
      "createdAt": "2025-12-31T15:42:26.920Z",
      "role": "workflow:owner",
      "workflowId": "b7xXjE899CcIb9eo",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-31T16:50:12.000Z",
    "createdAt": "2025-12-31T15:42:26.923Z",
    "versionId": "bcb53b07-3664-4b55-9c71-870a90d5e871",
    "workflowId": "b7xXjE899CcIb9eo",
    "nodes": [
      {
        "id": "trigger-deleteall",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -864,
          176
        ],
        "typeVersion": 1.1,
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "position": [
          -640,
          176
        ],
        "typeVersion": 2,
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst chat_id = input.chat_id;\nconst lang = input.lang || 'en';\n\nreturn [{ json: {\n  chat_id,\n  lang,\n  user_id: input.user_id\n}}];"
        }
      },
      {
        "id": "get-user-credentials",
        "name": "Get User Credentials",
        "type": "n8n-nodes-base.postgres",
        "position": [
          -416,
          176
        ],
        "typeVersion": 2.6,
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "users"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "chat_id",
                "value": "={{ $json.chat_id }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "check-hash-exists",
        "name": "Check Hash Exists",
        "type": "n8n-nodes-base.if",
        "position": [
          -176,
          176
        ],
        "typeVersion": 2.3,
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-hash",
                "leftValue": "={{ $json.hash }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              },
              {
                "id": "check-hash-not-empty",
                "leftValue": "={{ $json.hash }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "login",
        "name": "Login",
        "type": "n8n-nodes-mcp.mcpClient",
        "position": [
          64,
          160
        ],
        "typeVersion": 1,
        "parameters": {
          "operation": "executeTool",
          "toolName": "login",
          "toolParameters": "={\"email\":\"{{$json.email}}\", \"password\": \"{{ $json.hash }}\"}"
        },
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "id": "check-user-credentials",
        "name": "Check User Credentials",
        "type": "n8n-nodes-base.if",
        "position": [
          304,
          160
        ],
        "typeVersion": 2.2,
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-session",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                },
                "leftValue": "={{ $json.result.structuredContent.session_id }}",
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "set-context",
        "name": "Set Delete All Context",
        "type": "n8n-nodes-base.set",
        "position": [
          544,
          -48
        ],
        "typeVersion": 3.4,
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "user-id",
                "name": "user_id",
                "type": "string",
                "value": "={{ $('Validate Input').item.json.user_id }}"
              },
              {
                "id": "session-id",
                "name": "session_id",
                "type": "string",
                "value": "={{ $json.result.structuredContent.session_id }}"
              },
              {
                "id": "chat-id",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Validate Input').first().json.chat_id }}"
              },
              {
                "id": "lang",
                "name": "lang",
                "type": "string",
                "value": "={{ $('Validate Input').first().json.lang }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "mcp-delete-all",
        "name": "MCP Delete All Reservations",
        "type": "n8n-nodes-mcp.mcpClient",
        "position": [
          800,
          -48
        ],
        "typeVersion": 1,
        "parameters": {
          "operation": "executeTool",
          "toolName": "delete_all_reservations",
          "toolParameters": "={{ JSON.stringify({ session_id: $json.session_id }) }}"
        },
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "id": "check-delete-result",
        "name": "Check Delete Result",
        "type": "n8n-nodes-base.if",
        "position": [
          1056,
          -48
        ],
        "typeVersion": 2.2,
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "check-success",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.result.structuredContent.success }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "delete-all-from-db",
        "name": "Delete All from DB",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1312,
          -64
        ],
        "typeVersion": 2.6,
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "reservations",
            "mode": "list",
            "cachedResultName": "reservations"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "user_id",
                "value": "={{ $('Set Delete All Context').item.json.user_id }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "get-success-translation",
        "name": "Get Success Translation",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1568,
          -64
        ],
        "typeVersion": 2.6,
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "translations"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "deleteall_success"
              },
              {
                "column": "lang",
                "value": "={{ $('Validate Input').item.json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-success-message",
        "name": "Format Success Message",
        "type": "n8n-nodes-base.set",
        "position": [
          1824,
          -64
        ],
        "typeVersion": 3.4,
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chat-id",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Set Delete All Context').first().json.chat_id }}"
              },
              {
                "id": "message",
                "name": "message",
                "type": "string",
                "value": "={{ $json.text.replace('{count}', $('MCP Delete All Reservations').first().json.result.structuredContent.deleted_count || '0') }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-no-creds-translation",
        "name": "Get No Credentials Translation",
        "type": "n8n-nodes-base.postgres",
        "position": [
          544,
          288
        ],
        "typeVersion": 2.6,
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "translations"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "deleteall_no_credentials"
              },
              {
                "column": "lang",
                "value": "={{ $('Validate Input').first().json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-no-creds-message",
        "name": "Format No Credentials Message",
        "type": "n8n-nodes-base.set",
        "position": [
          800,
          288
        ],
        "typeVersion": 3.4,
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chat-id",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Validate Input').first().json.chat_id }}"
              },
              {
                "id": "message",
                "name": "message",
                "type": "string",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-api-error-translation",
        "name": "Get API Error Translation",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1568,
          112
        ],
        "typeVersion": 2.6,
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "translations"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "deleteall_error"
              },
              {
                "column": "lang",
                "value": "={{ $('Validate Input').item.json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-api-error-message",
        "name": "Format API Error Message",
        "type": "n8n-nodes-base.set",
        "position": [
          1824,
          112
        ],
        "typeVersion": 3.4,
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chat-id",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Set Delete All Context').first().json.chat_id }}"
              },
              {
                "id": "message",
                "name": "message",
                "type": "string",
                "value": "={{ $json.text.replace('{error}', $('MCP Delete All Reservations').first().json.result.structuredContent.message || 'Unknown error') }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "send-message",
        "name": "Send a text message",
        "type": "n8n-nodes-base.telegram",
        "position": [
          2080,
          176
        ],
        "typeVersion": 1.2,
        "webhookId": "deleteall-msg",
        "parameters": {
          "chatId": "={{ $('Validate Input').item.json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Get User Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Credentials": {
        "main": [
          [
            {
              "node": "Check Hash Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Hash Exists": {
        "main": [
          [
            {
              "node": "Login",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get No Credentials Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login": {
        "main": [
          [
            {
              "node": "Check User Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User Credentials": {
        "main": [
          [
            {
              "node": "Set Delete All Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get No Credentials Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Delete All Context": {
        "main": [
          [
            {
              "node": "MCP Delete All Reservations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCP Delete All Reservations": {
        "main": [
          [
            {
              "node": "Check Delete Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Delete Result": {
        "main": [
          [
            {
              "node": "Delete All from DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get API Error Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete All from DB": {
        "main": [
          [
            {
              "node": "Get Success Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Success Translation": {
        "main": [
          [
            {
              "node": "Format Success Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Success Message": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get No Credentials Translation": {
        "main": [
          [
            {
              "node": "Format No Credentials Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format No Credentials Message": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get API Error Translation": {
        "main": [
          [
            {
              "node": "Format API Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format API Error Message": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version bcb53b07",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-27T11:51:52.051Z",
      "createdAt": "2025-12-27T11:51:52.051Z",
      "id": "3W7RR758UwICVpEC",
      "name": "bot_command"
    }
  ]
}