workflows/Help Command.json
{
  "updatedAt": "2026-04-13T18:53:54.733Z",
  "createdAt": "2026-01-11T18:29:43.968Z",
  "id": "ZLkal1BIG7llifwz",
  "name": "Help Command",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "translations",
          "mode": "list",
          "cachedResultName": "translations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "help"
            },
            {
              "column": "lang",
              "value": "={{ $json.arg1 || $json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-help-translation",
      "name": "Get Help Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        -960
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id-help",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Start').item.json.chat_id }}"
            },
            {
              "id": "message-help",
              "name": "message",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-help-message",
      "name": "Format Help Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -960
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        -960
      ],
      "id": "1e07ce1e-c13a-487b-bc80-00bf7cfad219",
      "name": "Send a text message",
      "webhookId": "920381ee-565a-43d0-97c6-624c52567f1d",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "arg1"
            },
            {
              "name": "lang"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "7a67ec9f-21b2-495a-adbb-aae54667c05c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1424,
        -960
      ]
    }
  ],
  "connections": {
    "Get Help Translation": {
      "main": [
        [
          {
            "node": "Format Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Help Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "versionId": "43b05dca-00ba-4def-a46a-b7092ac1110d",
  "activeVersionId": "43b05dca-00ba-4def-a46a-b7092ac1110d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-11T18:29:43.973Z",
      "createdAt": "2026-01-11T18:29:43.973Z",
      "role": "workflow:owner",
      "workflowId": "ZLkal1BIG7llifwz",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-13T18:54:11.000Z",
    "createdAt": "2026-04-13T18:53:54.734Z",
    "versionId": "43b05dca-00ba-4def-a46a-b7092ac1110d",
    "workflowId": "ZLkal1BIG7llifwz",
    "nodes": [
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "translations",
            "mode": "list",
            "cachedResultName": "translations"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "help"
              },
              {
                "column": "lang",
                "value": "={{ $json.arg1 || $json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-help-translation",
        "name": "Get Help Translation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1648,
          -960
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chat-id-help",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Start').item.json.chat_id }}"
              },
              {
                "id": "message-help",
                "name": "message",
                "type": "string",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "format-help-message",
        "name": "Format Help Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1872,
          -960
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2096,
          -960
        ],
        "id": "1e07ce1e-c13a-487b-bc80-00bf7cfad219",
        "name": "Send a text message",
        "webhookId": "920381ee-565a-43d0-97c6-624c52567f1d",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "arg1"
              },
              {
                "name": "lang"
              },
              {
                "name": "chat_id"
              }
            ]
          }
        },
        "id": "7a67ec9f-21b2-495a-adbb-aae54667c05c",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          1424,
          -960
        ]
      }
    ],
    "connections": {
      "Get Help Translation": {
        "main": [
          [
            {
              "node": "Format Help Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Help Message": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Get Help Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version 43b05dca",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-12-27T11:51:52.051Z",
      "createdAt": "2025-12-27T11:51:52.051Z",
      "id": "3W7RR758UwICVpEC",
      "name": "bot_command"
    }
  ]
}