workflows/Register Command.json
{
  "updatedAt": "2026-04-14T13:05:12.268Z",
  "createdAt": "2025-12-25T16:16:30.712Z",
  "id": "w8lC6D3QXh47u6w1",
  "name": "Register Command",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-register",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-args-valid",
      "name": "Check Args Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "hash": "={{ $json.hash }}",
            "session": "={{ $json.session_id }}",
            "id": "={{ $json.user_id }}",
            "created": "={{ $now }}",
            "user_name": "={{ $json.username }}",
            "full_name": "={{ $json.fullname }}",
            "chat_id": "={{ $json.chat_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "update-user-credentials",
      "name": "Update User Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "translations",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "register_success"
            },
            {
              "column": "lang",
              "value": "={{ $('Parse Args').first().json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-success-translation",
      "name": "Get Success Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "translations",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "register_invalid_args"
            },
            {
              "column": "lang",
              "value": "={{ $('Parse Args').first().json.lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-invalid-args-translation",
      "name": "Get Invalid Args Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        376
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse /register email password from the original text\nconst input = $input.first().json;\nconst argsString = input.arg1.trim();\n\n// Split by whitespace - first part is email, rest is password\nconst parts = argsString.split(/\\s+/);\nconst email = parts[0] || '';\nconsole.log(parts + \"__\" + email + \"__\")\nconst password = input.arg1.trim() || '';\n\n// Validate\nconst isValid = email.length > 0 && password.length > 0 && email.includes('@');\n\nreturn [{\n  json: {\n    ...input,\n    email: email,\n    hash: password,\n    isValid: isValid,\n    errorType: !email ? 'missing_email' : !password ? 'missing_password' : !email.includes('@') ? 'invalid_email' : null\n  }\n}];"
      },
      "id": "parse-register-args",
      "name": "Parse Args",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        280
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Args').item.json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        280
      ],
      "id": "b380c46a-75ff-4649-98c8-2d23ccbebfe0",
      "name": "Send a text message",
      "webhookId": "3a7ddbcf-9049-43e1-9c3f-6a13c334cc23",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "login",
        "toolParameters": "={\"email\":\"{{ $json.email }}\", \"password\": \"{{ $json.hash }}\"}"
      },
      "id": "mcp-login-register",
      "name": "MCP Login",
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session-id",
              "name": "session_id",
              "type": "string",
              "value": "={{ $json.result.structuredContent.session_id }}"
            },
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.email }}"
            },
            {
              "id": "hash",
              "name": "hash",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.hash }}"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.user_id }}"
            },
            {
              "id": "username",
              "name": "username",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.username }}"
            },
            {
              "id": "fullname",
              "name": "fullname",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.fullname }}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.chat_id }}"
            },
            {
              "id": "lang",
              "name": "lang",
              "type": "string",
              "value": "={{ $('Parse Args').first().json.lang }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-session-register",
      "name": "Set Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "89c50355-df59-42b3-bb9b-09dedbb0ed7d",
              "leftValue": "={{ $json.result.structuredContent.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        208
      ],
      "id": "d5b10872-46d2-4966-afbd-77db1de97e88",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confirmed-check",
              "leftValue": "={{ $json.confirmed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-confirmed-hitl",
      "name": "Check Confirmed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        376
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst confirmation_id = crypto.randomBytes(8).toString('hex');\n\n// Parse email from arg1 (format: \"email password\" or just email)\nlet email = '';\ntry {\n  const parts = (input.arg1 || '').trim().split(/\\s+/);\n  email = parts[0] || '';\n} catch(e) {\n  email = input.arg1 || '';\n}\n\nreturn [{\n  json: {\n    ...input,\n    confirmation_id,\n    details_text: email   // used to replace {email} placeholder in translation\n  }\n}];"
      },
      "id": "generate-confirmation-id",
      "name": "Generate Confirmation ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pending_confirmations (confirmation_id, chat_id, user_id, lang, command, payload) VALUES ($1, $2, $3, $4, 'register', $5::jsonb)",
        "options": {
          "queryReplacement": "={{ $json.confirmation_id }},{{ String($json.chat_id) }},{{ String($json.user_id) }},{{ $json.lang }},{{ $json }}"
        }
      },
      "id": "store-pending-confirmation",
      "name": "Store Pending Confirmation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT text FROM translations WHERE key = 'confirm_register' AND lang = $1 UNION ALL SELECT text FROM translations WHERE key = 'confirm_register' AND lang = 'en' LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Check Confirmed').first().json.lang }}"
        }
      },
      "id": "get-register-confirm-translation",
      "name": "Get Register Confirm Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ String($('Generate Confirmation ID').first().json.chat_id) }}",
        "text": "={{ $json.text.replace('{email}', $('Generate Confirmation ID').first().json.details_text) }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Confirm",
                    "additionalFields": {
                      "callback_data": "={{ 'confirm:' + $('Generate Confirmation ID').first().json.confirmation_id }}"
                    }
                  },
                  {
                    "text": "❌ Cancel",
                    "additionalFields": {
                      "callback_data": "={{ 'cancel:' + $('Generate Confirmation ID').first().json.confirmation_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-register-confirm-keyboard",
      "name": "Send Register Confirm Keyboard",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        592
      ],
      "webhookId": "8588e279-8200-4edf-9982-744d7d1a1a4d",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    }
  ],
  "connections": {
    "Check Args Valid": {
      "main": [
        [
          {
            "node": "MCP Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invalid Args Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Credentials": {
      "main": [
        [
          {
            "node": "Get Success Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Success Translation": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invalid Args Translation": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Args": {
      "main": [
        [
          {
            "node": "Check Args Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Login": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session Data": {
      "main": [
        [
          {
            "node": "Update User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Session Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invalid Args Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confirmed": {
      "main": [
        [
          {
            "node": "Parse Args",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Confirmation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Confirmation ID": {
      "main": [
        [
          {
            "node": "Store Pending Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Pending Confirmation": {
      "main": [
        [
          {
            "node": "Get Register Confirm Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Register Confirm Translation": {
      "main": [
        [
          {
            "node": "Send Register Confirm Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "82cafee0-6640-4830-8a43-8fd97e311fc0",
  "activeVersionId": "82cafee0-6640-4830-8a43-8fd97e311fc0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-25T16:16:30.713Z",
      "createdAt": "2025-12-25T16:16:30.713Z",
      "role": "workflow:owner",
      "workflowId": "w8lC6D3QXh47u6w1",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-14T13:06:08.000Z",
    "createdAt": "2026-04-14T13:05:12.269Z",
    "versionId": "82cafee0-6640-4830-8a43-8fd97e311fc0",
    "workflowId": "w8lC6D3QXh47u6w1",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger-register",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -688,
          376
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-valid",
                "leftValue": "={{ $json.isValid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-args-valid",
        "name": "Check Args Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -16,
          280
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "email": "={{ $json.email }}",
              "hash": "={{ $json.hash }}",
              "session": "={{ $json.session_id }}",
              "id": "={{ $json.user_id }}",
              "created": "={{ $now }}",
              "user_name": "={{ $json.username }}",
              "full_name": "={{ $json.fullname }}",
              "chat_id": "={{ $json.chat_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": true,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "user_name",
                "displayName": "user_name",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "full_name",
                "displayName": "full_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hash",
                "displayName": "hash",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "session",
                "displayName": "session",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created",
                "displayName": "created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "update-user-credentials",
        "name": "Update User Credentials",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          880,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "translations",
            "mode": "list"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "register_success"
              },
              {
                "column": "lang",
                "value": "={{ $('Parse Args').first().json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-success-translation",
        "name": "Get Success Translation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1104,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "translations",
            "mode": "list"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "key",
                "value": "register_invalid_args"
              },
              {
                "column": "lang",
                "value": "={{ $('Parse Args').first().json.lang || 'en' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-invalid-args-translation",
        "name": "Get Invalid Args Translation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          656,
          376
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse /register email password from the original text\nconst input = $input.first().json;\nconst argsString = input.arg1.trim();\n\n// Split by whitespace - first part is email, rest is password\nconst parts = argsString.split(/\\s+/);\nconst email = parts[0] || '';\nconsole.log(parts + \"__\" + email + \"__\")\nconst password = input.arg1.trim() || '';\n\n// Validate\nconst isValid = email.length > 0 && password.length > 0 && email.includes('@');\n\nreturn [{\n  json: {\n    ...input,\n    email: email,\n    hash: password,\n    isValid: isValid,\n    errorType: !email ? 'missing_email' : !password ? 'missing_password' : !email.includes('@') ? 'invalid_email' : null\n  }\n}];"
        },
        "id": "parse-register-args",
        "name": "Parse Args",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          280
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Args').item.json.chat_id }}",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1328,
          280
        ],
        "id": "b380c46a-75ff-4649-98c8-2d23ccbebfe0",
        "name": "Send a text message",
        "webhookId": "3a7ddbcf-9049-43e1-9c3f-6a13c334cc23",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeTool",
          "toolName": "login",
          "toolParameters": "={\"email\":\"{{ $json.email }}\", \"password\": \"{{ $json.hash }}\"}"
        },
        "id": "mcp-login-register",
        "name": "MCP Login",
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          208,
          208
        ],
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "session-id",
                "name": "session_id",
                "type": "string",
                "value": "={{ $json.result.structuredContent.session_id }}"
              },
              {
                "id": "email",
                "name": "email",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.email }}"
              },
              {
                "id": "hash",
                "name": "hash",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.hash }}"
              },
              {
                "id": "user_id",
                "name": "user_id",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.user_id }}"
              },
              {
                "id": "username",
                "name": "username",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.username }}"
              },
              {
                "id": "fullname",
                "name": "fullname",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.fullname }}"
              },
              {
                "id": "chat_id",
                "name": "chat_id",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.chat_id }}"
              },
              {
                "id": "lang",
                "name": "lang",
                "type": "string",
                "value": "={{ $('Parse Args').first().json.lang }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-session-register",
        "name": "Set Session Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "89c50355-df59-42b3-bb9b-09dedbb0ed7d",
                "leftValue": "={{ $json.result.structuredContent.success }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          432,
          208
        ],
        "id": "d5b10872-46d2-4966-afbd-77db1de97e88",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "confirmed-check",
                "leftValue": "={{ $json.confirmed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-confirmed-hitl",
        "name": "Check Confirmed",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -464,
          376
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst confirmation_id = crypto.randomBytes(8).toString('hex');\n\n// Parse email from arg1 (format: \"email password\" or just email)\nlet email = '';\ntry {\n  const parts = (input.arg1 || '').trim().split(/\\s+/);\n  email = parts[0] || '';\n} catch(e) {\n  email = input.arg1 || '';\n}\n\nreturn [{\n  json: {\n    ...input,\n    confirmation_id,\n    details_text: email   // used to replace {email} placeholder in translation\n  }\n}];"
        },
        "id": "generate-confirmation-id",
        "name": "Generate Confirmation ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          592
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pending_confirmations (confirmation_id, chat_id, user_id, lang, command, payload) VALUES ($1, $2, $3, $4, 'register', $5::jsonb)",
          "options": {
            "queryReplacement": "={{ $json.confirmation_id }},{{ String($json.chat_id) }},{{ String($json.user_id) }},{{ $json.lang }},{{ $json }}"
          }
        },
        "id": "store-pending-confirmation",
        "name": "Store Pending Confirmation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -16,
          592
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT text FROM translations WHERE key = 'confirm_register' AND lang = $1 UNION ALL SELECT text FROM translations WHERE key = 'confirm_register' AND lang = 'en' LIMIT 1",
          "options": {
            "queryReplacement": "={{ $('Check Confirmed').first().json.lang }}"
          }
        },
        "id": "get-register-confirm-translation",
        "name": "Get Register Confirm Translation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          592
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ String($('Generate Confirmation ID').first().json.chat_id) }}",
          "text": "={{ $json.text.replace('{email}', $('Generate Confirmation ID').first().json.details_text) }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Confirm",
                      "additionalFields": {
                        "callback_data": "={{ 'confirm:' + $('Generate Confirmation ID').first().json.confirmation_id }}"
                      }
                    },
                    {
                      "text": "❌ Cancel",
                      "additionalFields": {
                        "callback_data": "={{ 'cancel:' + $('Generate Confirmation ID').first().json.confirmation_id }}"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "send-register-confirm-keyboard",
        "name": "Send Register Confirm Keyboard",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          432,
          592
        ],
        "webhookId": "8588e279-8200-4edf-9982-744d7d1a1a4d",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      }
    ],
    "connections": {
      "Check Args Valid": {
        "main": [
          [
            {
              "node": "MCP Login",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Invalid Args Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update User Credentials": {
        "main": [
          [
            {
              "node": "Get Success Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Success Translation": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Invalid Args Translation": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Args": {
        "main": [
          [
            {
              "node": "Check Args Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCP Login": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Session Data": {
        "main": [
          [
            {
              "node": "Update User Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Set Session Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Invalid Args Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Check Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Confirmed": {
        "main": [
          [
            {
              "node": "Parse Args",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Confirmation ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Confirmation ID": {
        "main": [
          [
            {
              "node": "Store Pending Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Pending Confirmation": {
        "main": [
          [
            {
              "node": "Get Register Confirm Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Register Confirm Translation": {
        "main": [
          [
            {
              "node": "Send Register Confirm Keyboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version 82cafee0",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-12-27T11:51:52.051Z",
      "createdAt": "2025-12-27T11:51:52.051Z",
      "id": "3W7RR758UwICVpEC",
      "name": "bot_command"
    }
  ]
}