workflows/Reservation status update.json
{
  "updatedAt": "2026-01-02T14:03:21.179Z",
  "createdAt": "2025-12-08T21:22:17.172Z",
  "id": "ocCWq7TGjPACPwTL",
  "name": "Reservation status update",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/20 7-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -16
      ],
      "id": "17a3040d-dd14-45bc-b2e2-7746519fb67b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -384,
        -16
      ],
      "id": "985eeb4d-7e7e-453b-b703-9401417c0dfb",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate 7 dates from tomorrow to tomorrow + 7 days in DD.MM.YYYY format\nconst dates = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 7; i++) {\n  const futureDate = new Date(today);\n  futureDate.setDate(today.getDate() + i);\n  \n  const day = String(futureDate.getDate()).padStart(2, '0');\n  const month = String(futureDate.getMonth() + 1).padStart(2, '0');\n  const year = futureDate.getFullYear();\n  \n  dates.push({\n    date: `${day}.${month}.${year}`,\n    dayOfWeek: futureDate.toLocaleDateString('en-US', { weekday: 'long' })\n  });\n}\n\nreturn dates;"
      },
      "id": "cdbd258e-8dbe-4e87-8f48-2f5de85d42ac",
      "name": "Generate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=get_club_schedule",
        "toolParameters": "={\"session_id\":\"{{ $('Set fields').item.json.session_id }}\", \"club_id\":\"{{ $('Set fields').item.json.club_id }}\", \"sport_id\": {{ $('Set fields').item.json.sport_id }}, \"date\": \"{{ $('Generate Date Range').item.json.date }}\"}"
      },
      "id": "f736eea0-b12f-4f25-b805-cdf353b20096",
      "name": "Get Club Schedule",
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform schedule API response to database format\n// Input: MCP response with structuredContent containing schedule data\n// Output: Array of records for database insertion\n\nconst mcpResponse = $input.first().json;\n\n// Extract the actual schedule data from the MCP response structure\nlet scheduleData;\nif (mcpResponse.result && mcpResponse.result.structuredContent) {\n  scheduleData = mcpResponse.result.structuredContent.data;\n} else if (mcpResponse.structuredContent) {\n  scheduleData = mcpResponse.structuredContent.data;\n} else if (mcpResponse.data) {\n  scheduleData = mcpResponse.data;\n} else {\n  throw new Error('Could not find schedule data in response');\n}\n\nconst clubId = scheduleData.club_id;\nconst sportId = scheduleData.sport_id;\nconst date = scheduleData.date;\nconst courts = scheduleData.courts;\n\n// Convert DD.MM.YYYY to YYYY-MM-DD for database\nconst [day, month, year] = date.split('.');\nconst dbDate = `${year}-${month}-${day}`;\n\n// Transform into individual records for database\nconst records = [];\n\ncourts.forEach(court => {\n  const courtNumber = court.number;\n  \n  // Process each time slot\n  Object.entries(court.availability).forEach(([timeSlot, isAvailable]) => {\n    // Ensure time slot is in HH:MM:SS format\n    const time = timeSlot.length === 5 ? `${timeSlot}:00` : timeSlot;\n    \n    records.push({\n      club_id: clubId,\n      sport_id: sportId,\n      date: dbDate,\n      court_number: courtNumber,\n      time_slot: time,\n      is_available: isAvailable\n    });\n  });\n});\n\nreturn records;"
      },
      "id": "8a91420f-b4ae-43db-82d3-55dd75156a57",
      "name": "Transform Schedule Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "login",
        "toolParameters": "={\"email\":\"{{ $json.email }}\", \"password\": \"{{ $json.hash }}\"}"
      },
      "id": "96295091-7509-4384-8812-e393650225d7",
      "name": "Login",
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ],
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "546b879d-21ad-4b51-9b16-cb90efc43dde",
              "name": "club_id",
              "value": "blonia_sport",
              "type": "string"
            },
            {
              "id": "e4153f73-f5bb-4140-8166-6845bdf40d83",
              "name": "session_id",
              "value": "={{ $('Login').item.json.result.structuredContent.session_id }}",
              "type": "string"
            },
            {
              "id": "3774cf8c-e819-4f91-8fbe-40844df682a5",
              "name": "sport_id",
              "value": "84",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -16
      ],
      "id": "6d99b0ab-c4ee-4af7-b7ce-836b2dbfdfe3",
      "name": "Set fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "club_schedules"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "club_id": "={{ $json.club_id }}",
            "sport_id": "={{ $json.sport_id }}",
            "date": "={{ $json.date }}",
            "court_number": "={{ $json.court_number }}",
            "time_slot": "={{ $json.time_slot }}",
            "is_available": "={{ $json.is_available }}"
          },
          "matchingColumns": [
            "club_id",
            "sport_id",
            "date",
            "court_number",
            "time_slot"
          ],
          "schema": [
            {
              "id": "club_id",
              "displayName": "club_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sport_id",
              "displayName": "sport_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "court_number",
              "displayName": "court_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_slot",
              "displayName": "time_slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "79b1a99e-a805-451f-a792-fa75b9166ae3",
      "name": "Upsert to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -16
      ],
      "id": "e2a3a0dc-d07f-4422-8a4a-4d58f1b67e6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        192
      ],
      "id": "3b8013c2-8991-491b-8bad-748919ab2a6e",
      "name": "Delay",
      "webhookId": "679c9ca2-fb10-4ff2-bb79-e49f1c4648b6"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "created"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -16
      ],
      "id": "50d409d0-e245-4842-9e4c-f8c8dd981a55",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Date Range": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Club Schedule": {
      "main": [
        [
          {
            "node": "Transform Schedule Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Generate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Schedule Data": {
      "main": [
        [
          {
            "node": "Upsert to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Club Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Database": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "9181032c-3352-422e-a457-67cd583fe3d8",
  "activeVersionId": "9181032c-3352-422e-a457-67cd583fe3d8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-08T21:22:17.175Z",
      "createdAt": "2025-12-08T21:22:17.175Z",
      "role": "workflow:owner",
      "workflowId": "ocCWq7TGjPACPwTL",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-02T14:02:25.000Z",
    "createdAt": "2026-01-02T14:02:18.355Z",
    "versionId": "9181032c-3352-422e-a457-67cd583fe3d8",
    "workflowId": "ocCWq7TGjPACPwTL",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/20 7-21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -592,
          -16
        ],
        "id": "17a3040d-dd14-45bc-b2e2-7746519fb67b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          -384,
          -16
        ],
        "id": "985eeb4d-7e7e-453b-b703-9401417c0dfb",
        "name": "MCP Client",
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Generate 7 dates from tomorrow to tomorrow + 7 days in DD.MM.YYYY format\nconst dates = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 7; i++) {\n  const futureDate = new Date(today);\n  futureDate.setDate(today.getDate() + i);\n  \n  const day = String(futureDate.getDate()).padStart(2, '0');\n  const month = String(futureDate.getMonth() + 1).padStart(2, '0');\n  const year = futureDate.getFullYear();\n  \n  dates.push({\n    date: `${day}.${month}.${year}`,\n    dayOfWeek: futureDate.toLocaleDateString('en-US', { weekday: 'long' })\n  });\n}\n\nreturn dates;"
        },
        "id": "cdbd258e-8dbe-4e87-8f48-2f5de85d42ac",
        "name": "Generate Date Range",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -16
        ]
      },
      {
        "parameters": {
          "operation": "executeTool",
          "toolName": "=get_club_schedule",
          "toolParameters": "={\"session_id\":\"{{ $('Set fields').item.json.session_id }}\", \"club_id\":\"{{ $('Set fields').item.json.club_id }}\", \"sport_id\": {{ $('Set fields').item.json.sport_id }}, \"date\": \"{{ $('Generate Date Range').item.json.date }}\"}"
        },
        "id": "f736eea0-b12f-4f25-b805-cdf353b20096",
        "name": "Get Club Schedule",
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          848,
          0
        ],
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Transform schedule API response to database format\n// Input: MCP response with structuredContent containing schedule data\n// Output: Array of records for database insertion\n\nconst mcpResponse = $input.first().json;\n\n// Extract the actual schedule data from the MCP response structure\nlet scheduleData;\nif (mcpResponse.result && mcpResponse.result.structuredContent) {\n  scheduleData = mcpResponse.result.structuredContent.data;\n} else if (mcpResponse.structuredContent) {\n  scheduleData = mcpResponse.structuredContent.data;\n} else if (mcpResponse.data) {\n  scheduleData = mcpResponse.data;\n} else {\n  throw new Error('Could not find schedule data in response');\n}\n\nconst clubId = scheduleData.club_id;\nconst sportId = scheduleData.sport_id;\nconst date = scheduleData.date;\nconst courts = scheduleData.courts;\n\n// Convert DD.MM.YYYY to YYYY-MM-DD for database\nconst [day, month, year] = date.split('.');\nconst dbDate = `${year}-${month}-${day}`;\n\n// Transform into individual records for database\nconst records = [];\n\ncourts.forEach(court => {\n  const courtNumber = court.number;\n  \n  // Process each time slot\n  Object.entries(court.availability).forEach(([timeSlot, isAvailable]) => {\n    // Ensure time slot is in HH:MM:SS format\n    const time = timeSlot.length === 5 ? `${timeSlot}:00` : timeSlot;\n    \n    records.push({\n      club_id: clubId,\n      sport_id: sportId,\n      date: dbDate,\n      court_number: courtNumber,\n      time_slot: time,\n      is_available: isAvailable\n    });\n  });\n});\n\nreturn records;"
        },
        "id": "8a91420f-b4ae-43db-82d3-55dd75156a57",
        "name": "Transform Schedule Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1072,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeTool",
          "toolName": "login",
          "toolParameters": "={\"email\":\"{{ $json.email }}\", \"password\": \"{{ $json.hash }}\"}"
        },
        "id": "96295091-7509-4384-8812-e393650225d7",
        "name": "Login",
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          32,
          -16
        ],
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "546b879d-21ad-4b51-9b16-cb90efc43dde",
                "name": "club_id",
                "value": "blonia_sport",
                "type": "string"
              },
              {
                "id": "e4153f73-f5bb-4140-8166-6845bdf40d83",
                "name": "session_id",
                "value": "={{ $('Login').item.json.result.structuredContent.session_id }}",
                "type": "string"
              },
              {
                "id": "3774cf8c-e819-4f91-8fbe-40844df682a5",
                "name": "sport_id",
                "value": "84",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          -16
        ],
        "id": "6d99b0ab-c4ee-4af7-b7ce-836b2dbfdfe3",
        "name": "Set fields"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "name",
            "value": "club_schedules"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "club_id": "={{ $json.club_id }}",
              "sport_id": "={{ $json.sport_id }}",
              "date": "={{ $json.date }}",
              "court_number": "={{ $json.court_number }}",
              "time_slot": "={{ $json.time_slot }}",
              "is_available": "={{ $json.is_available }}"
            },
            "matchingColumns": [
              "club_id",
              "sport_id",
              "date",
              "court_number",
              "time_slot"
            ],
            "schema": [
              {
                "id": "club_id",
                "displayName": "club_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sport_id",
                "displayName": "sport_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "date",
                "displayName": "date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "court_number",
                "displayName": "court_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "time_slot",
                "displayName": "time_slot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "is_available",
                "displayName": "is_available",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "79b1a99e-a805-451f-a792-fa75b9166ae3",
        "name": "Upsert to Database",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1312,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          640,
          -16
        ],
        "id": "e2a3a0dc-d07f-4422-8a4a-4d58f1b67e6f",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1040,
          192
        ],
        "id": "3b8013c2-8991-491b-8bad-748919ab2a6e",
        "name": "Delay",
        "webhookId": "679c9ca2-fb10-4ff2-bb79-e49f1c4648b6"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "limit": 1,
          "sort": {
            "values": [
              {
                "column": "created"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -176,
          -16
        ],
        "id": "50d409d0-e245-4842-9e4c-f8c8dd981a55",
        "name": "Select rows from a table",
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "MCP Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCP Client": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Date Range": {
        "main": [
          [
            {
              "node": "Set fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Club Schedule": {
        "main": [
          [
            {
              "node": "Transform Schedule Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login": {
        "main": [
          [
            {
              "node": "Generate Date Range",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set fields": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform Schedule Data": {
        "main": [
          [
            {
              "node": "Upsert to Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Get Club Schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert to Database": {
        "main": [
          [
            {
              "node": "Delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version 9181032c",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-01-02T14:03:19.232Z",
      "createdAt": "2026-01-02T14:03:19.232Z",
      "id": "umllye9UwUVxl6um",
      "name": "job"
    }
  ]
}