workflows/Reservation status update.json
{
  "updatedAt": "2026-06-18T13:05:34.177Z",
  "createdAt": "2025-12-08T21:22:17.172Z",
  "id": "ocCWq7TGjPACPwTL",
  "name": "Reservation status update",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/20 7-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -96
      ],
      "id": "17a3040d-dd14-45bc-b2e2-7746519fb67b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -368,
        -192
      ],
      "id": "985eeb4d-7e7e-453b-b703-9401417c0dfb",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate 7 dates from tomorrow to tomorrow + 7 days in DD.MM.YYYY format\nconst dates = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 7; i++) {\n  const futureDate = new Date(today);\n  futureDate.setDate(today.getDate() + i);\n  \n  const day = String(futureDate.getDate()).padStart(2, '0');\n  const month = String(futureDate.getMonth() + 1).padStart(2, '0');\n  const year = futureDate.getFullYear();\n  \n  dates.push({\n    club_id: '958662f0-0bd2-4fdc-8bef-bb2d69761adb',\n    date: `${day}.${month}.${year}`,\n    dayOfWeek: futureDate.toLocaleDateString('en-US', { weekday: 'long' })\n  });\n}\n\nreturn dates;"
      },
      "id": "cdbd258e-8dbe-4e87-8f48-2f5de85d42ac",
      "name": "Generate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=get_club_schedule",
        "toolParameters": "={\"club_id\":\"{{ $json.club_id }}\", \"date\": \"{{ $('Generate Date Range').item.json.date }}\"}"
      },
      "id": "f736eea0-b12f-4f25-b805-cdf353b20096",
      "name": "Get Club Schedule",
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        -272
      ],
      "credentials": {
        "mcpClientApi": {
          "id": "G9CyzT9PT67tg4V7",
          "name": "Twojtenis MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform schedule API response to database format\n// Input: MCP response with structuredContent containing schedule data\n// Output: Array of records for database insertion\n\nconst mcpResponse = $input.first().json;\n\n// Extract the actual schedule data from the MCP response structure\nlet scheduleData;\nif (mcpResponse.result && mcpResponse.result.structuredContent) {\n  scheduleData = mcpResponse.result.structuredContent.data;\n} else if (mcpResponse.structuredContent) {\n  scheduleData = mcpResponse.structuredContent.data;\n} else if (mcpResponse.data) {\n  scheduleData = mcpResponse.data;\n} else {\n  throw new Error('Could not find schedule data in response');\n}\n\nconst clubId = scheduleData.club_id;\nconst sportId = scheduleData.sport;\nconst date = scheduleData.date;\nconst courts = scheduleData.availability;\nconst records = [];\n\ncourts.forEach(court => {\n  const courtNumber = court.location_name;\n  \n  // Process each time slot\n  court.slots.forEach(slot => {\n    const start = slot.start;\n    const avail = slot.available;\n    //console.log(time);\n    \n    records.push({\n      club_id: clubId,\n      sport_id: sportId,\n      date: date,\n      court_number: courtNumber,\n      time_slot: start,\n      is_available: avail\n    });\n  });\n});\n\nreturn records;"
      },
      "id": "8a91420f-b4ae-43db-82d3-55dd75156a57",
      "name": "Transform Schedule Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -272
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "club_schedules"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "club_id": "={{ $json.club_id }}",
            "date": "={{ $json.date }}",
            "court_number": "={{ $json.court_number }}",
            "time_slot": "={{ $json.time_slot }}",
            "is_available": "={{ $json.is_available }}",
            "sport_id": 84
          },
          "matchingColumns": [
            "club_id",
            "date",
            "court_number",
            "time_slot",
            "sport_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "club_id",
              "displayName": "club_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sport_id",
              "displayName": "sport_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "court_number",
              "displayName": "court_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time_slot",
              "displayName": "time_slot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "79b1a99e-a805-451f-a792-fa75b9166ae3",
      "name": "Upsert to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -272
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -192
      ],
      "id": "e2a3a0dc-d07f-4422-8a4a-4d58f1b67e6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        -192
      ],
      "id": "3b8013c2-8991-491b-8bad-748919ab2a6e",
      "name": "Delay",
      "webhookId": "679c9ca2-fb10-4ff2-bb79-e49f1c4648b6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pending_confirmations WHERE expires_at < NOW()",
        "options": {}
      },
      "id": "cleanup-expired-confirmations",
      "name": "Cleanup Expired Confirmations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -368,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select user_id,email,hash,access_token,refresh_token,expires_at \n  from users u\njoin sessions s on u.id = s.user_id\norder by created desc\nlimit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        -192
      ],
      "id": "50d409d0-e245-4842-9e4c-f8c8dd981a55",
      "name": "Execute a SQL query",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Expired Confirmations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Date Range": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Club Schedule": {
      "main": [
        [
          {
            "node": "Transform Schedule Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Schedule Data": {
      "main": [
        [
          {
            "node": "Upsert to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Club Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Database": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Generate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "cb0f7774-eb4e-458a-8b9b-2795e91b68c6",
  "activeVersionId": "cb0f7774-eb4e-458a-8b9b-2795e91b68c6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-08T21:22:17.175Z",
      "createdAt": "2025-12-08T21:22:17.175Z",
      "role": "workflow:owner",
      "workflowId": "ocCWq7TGjPACPwTL",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-18T13:05:59.000Z",
    "createdAt": "2026-06-18T13:05:34.177Z",
    "versionId": "cb0f7774-eb4e-458a-8b9b-2795e91b68c6",
    "workflowId": "ocCWq7TGjPACPwTL",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/20 7-21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -592,
          -96
        ],
        "id": "17a3040d-dd14-45bc-b2e2-7746519fb67b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          -368,
          -192
        ],
        "id": "985eeb4d-7e7e-453b-b703-9401417c0dfb",
        "name": "MCP Client",
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Generate 7 dates from tomorrow to tomorrow + 7 days in DD.MM.YYYY format\nconst dates = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 7; i++) {\n  const futureDate = new Date(today);\n  futureDate.setDate(today.getDate() + i);\n  \n  const day = String(futureDate.getDate()).padStart(2, '0');\n  const month = String(futureDate.getMonth() + 1).padStart(2, '0');\n  const year = futureDate.getFullYear();\n  \n  dates.push({\n    club_id: '958662f0-0bd2-4fdc-8bef-bb2d69761adb',\n    date: `${day}.${month}.${year}`,\n    dayOfWeek: futureDate.toLocaleDateString('en-US', { weekday: 'long' })\n  });\n}\n\nreturn dates;"
        },
        "id": "cdbd258e-8dbe-4e87-8f48-2f5de85d42ac",
        "name": "Generate Date Range",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          -192
        ]
      },
      {
        "parameters": {
          "operation": "executeTool",
          "toolName": "=get_club_schedule",
          "toolParameters": "={\"club_id\":\"{{ $json.club_id }}\", \"date\": \"{{ $('Generate Date Range').item.json.date }}\"}"
        },
        "id": "f736eea0-b12f-4f25-b805-cdf353b20096",
        "name": "Get Club Schedule",
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          528,
          -272
        ],
        "credentials": {
          "mcpClientApi": {
            "id": "G9CyzT9PT67tg4V7",
            "name": "Twojtenis MCP Client (STDIO)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Transform schedule API response to database format\n// Input: MCP response with structuredContent containing schedule data\n// Output: Array of records for database insertion\n\nconst mcpResponse = $input.first().json;\n\n// Extract the actual schedule data from the MCP response structure\nlet scheduleData;\nif (mcpResponse.result && mcpResponse.result.structuredContent) {\n  scheduleData = mcpResponse.result.structuredContent.data;\n} else if (mcpResponse.structuredContent) {\n  scheduleData = mcpResponse.structuredContent.data;\n} else if (mcpResponse.data) {\n  scheduleData = mcpResponse.data;\n} else {\n  throw new Error('Could not find schedule data in response');\n}\n\nconst clubId = scheduleData.club_id;\nconst sportId = scheduleData.sport;\nconst date = scheduleData.date;\nconst courts = scheduleData.availability;\nconst records = [];\n\ncourts.forEach(court => {\n  const courtNumber = court.location_name;\n  \n  // Process each time slot\n  court.slots.forEach(slot => {\n    const start = slot.start;\n    const avail = slot.available;\n    //console.log(time);\n    \n    records.push({\n      club_id: clubId,\n      sport_id: sportId,\n      date: date,\n      court_number: courtNumber,\n      time_slot: start,\n      is_available: avail\n    });\n  });\n});\n\nreturn records;"
        },
        "id": "8a91420f-b4ae-43db-82d3-55dd75156a57",
        "name": "Transform Schedule Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          -272
        ]
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "name",
            "value": "club_schedules"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "club_id": "={{ $json.club_id }}",
              "date": "={{ $json.date }}",
              "court_number": "={{ $json.court_number }}",
              "time_slot": "={{ $json.time_slot }}",
              "is_available": "={{ $json.is_available }}",
              "sport_id": 84
            },
            "matchingColumns": [
              "club_id",
              "date",
              "court_number",
              "time_slot",
              "sport_id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "club_id",
                "displayName": "club_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sport_id",
                "displayName": "sport_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "date",
                "displayName": "date",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "court_number",
                "displayName": "court_number",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "time_slot",
                "displayName": "time_slot",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "time",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "is_available",
                "displayName": "is_available",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "79b1a99e-a805-451f-a792-fa75b9166ae3",
        "name": "Upsert to Database",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          976,
          -272
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          304,
          -192
        ],
        "id": "e2a3a0dc-d07f-4422-8a4a-4d58f1b67e6f",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1200,
          -192
        ],
        "id": "3b8013c2-8991-491b-8bad-748919ab2a6e",
        "name": "Delay",
        "webhookId": "679c9ca2-fb10-4ff2-bb79-e49f1c4648b6"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM pending_confirmations WHERE expires_at < NOW()",
          "options": {}
        },
        "id": "cleanup-expired-confirmations",
        "name": "Cleanup Expired Confirmations",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -368,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select user_id,email,hash,access_token,refresh_token,expires_at \n  from users u\njoin sessions s on u.id = s.user_id\norder by created desc\nlimit 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -144,
          -192
        ],
        "id": "50d409d0-e245-4842-9e4c-f8c8dd981a55",
        "name": "Execute a SQL query",
        "retryOnFail": false,
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "MCP Client",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cleanup Expired Confirmations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCP Client": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Date Range": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Club Schedule": {
        "main": [
          [
            {
              "node": "Transform Schedule Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform Schedule Data": {
        "main": [
          [
            {
              "node": "Upsert to Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Get Club Schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert to Database": {
        "main": [
          [
            {
              "node": "Delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Generate Date Range",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Sergei Vedishchev",
    "name": "Version cb0f7774",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-01-02T14:03:19.232Z",
      "createdAt": "2026-01-02T14:03:19.232Z",
      "id": "umllye9UwUVxl6um",
      "name": "job"
    }
  ]
}