workflows/Show Command.json
{
  "updatedAt": "2026-03-27T18:06:01.613Z",
  "createdAt": "2025-12-27T11:51:58.987Z",
  "id": "HFeE52YK9tAzKTpk",
  "name": "Show Command",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "arg1"
            },
            {
              "name": "lang"
            },
            {
              "name": "user_id"
            },
            {
              "name": "username"
            },
            {
              "name": "fullname"
            }
          ]
        }
      },
      "id": "44edb8c3-4e24-4419-8d01-32cfe9b573e8",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -480,
        304
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  cs.club_id,  cs.sport_id,  cs.date,  cs.court_number,  cs.time_slot,  cs.is_available,  cs.updated_at,  r.user_id   AS bot_user_id, u.full_name AS bot_user_name,  u.user_name AS bot_username \nFROM club_schedules cs\nLEFT JOIN reservations r  ON  cs.date = r.date  AND cs.time_slot::time = r.time_start::time  AND cs.court_number = 'Badminton ' || r.court\nLEFT JOIN users u  ON r.user_id = u.id WHERE cs.date = $1::date  AND cs.sport_id = 84\nORDER BY cs.time_slot, cs.court_number",
        "options": {
          "queryReplacement": "={{ $json.resolved_date || $json.arg1 || $today }}"
        }
      },
      "id": "5d9763e6-3b39-402e-b0c2-165225b1371d",
      "name": "Select Schedules",
      "type": "n8n-nodes-base.postgres",
      "position": [
        192,
        400
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('When Executed by Another Workflow').first().json.chat_id;\nconst items = $input.all().map(item => item.json);\nif (!items || items.length === 0 || Object.keys(items[0]).length === 0) {\n  return [{ json: { message: '📭 No schedule data available.', chat_id: chatId } }];\n}\n\n// Extract unique time slots and courts\nconst timeslots = [...new Set(items.map(x => x.time_slot))].sort();\nconst courts = [...new Set(items.map(x => x.court_number))].sort();\n\n// Get the date from first item - fix UTC timezone shift\nlet scheduleDate = 'Unknown date';\nif (items[0]?.date) {\n  const d = new Date(items[0].date);\n  scheduleDate = d.toLocaleDateString('sv-SE', { timeZone: 'Europe/Warsaw' });\n}\n\n// Build header\nlet message = `<b>🏸 Court Schedule</b>\\n`;\nmessage += `<b>📅 ${scheduleDate}</b>\\n\\n`;\n\n// Build monospace table header\nmessage += '<pre>';\nmessage += '🕓     ';\ncourts.forEach(court => {\n  const courtNum = court.replace('Badminton ', '#');\n  message += `${courtNum} `;\n});\nmessage += '\\n';\nmessage += '───────' + '────'.repeat(courts.length) + '\\n';\n\nconst available_times = Object.entries(\n  $input.all().map(i => i.json)\n    .filter(slot => slot.is_available)\n    .reduce((acc, slot) => {\n      const time = slot.time_slot.slice(0, 5);\n      const court = slot.court_number.replace('Badminton ', '');\n      acc[time] = acc[time] || [];\n      acc[time].push(court);\n      return acc;\n    }, {})\n).map(([time_slot, courts]) => ({ time_slot, courts }));\n\n// Build table rows\ntimeslots.forEach(ts => {\n  let timeDisplay = ts;\n  if (ts.includes('T')) {\n    timeDisplay = ts.substring(11, 16);\n  } else if (ts.length > 5) {\n    timeDisplay = ts.substring(0, 5);\n  }\n  message += timeDisplay + '  ';\n  \n  courts.forEach(court => {\n    const slot = items.find(item => \n      item.time_slot === ts && item.court_number === court\n    );\n    \n    if (!slot) {\n      message += '⬜ ';\n    } else if (slot.bot_user_id) {\n      message += '🏸 ';  // booked by a bot user (takes priority — handles pre-sync window)\n    } else if (slot.is_available) {\n      message += '✅ ';\n    } else {\n      message += '❌ ';  // booked externally\n    }\n  });\n  message += '\\n';\n});\n\nmessage += '</pre>';\nmessage += '\\n✅ Available  🏸 Bot booking  ❌ External';\n\nconst botSlots = items.filter(item => item.bot_user_id);\nif (botSlots.length > 0) {\n  message += '\\n\\n<b>📋 Bot Reservations:</b>';\n  const byUser = {};\n  botSlots.forEach(slot => {\n    const key = slot.bot_user_id;\n    if (!byUser[key]) {\n      byUser[key] = {\n        name: slot.bot_user_name || slot.bot_username || `user ${slot.bot_user_id}`,\n        username: slot.bot_username ? `@${slot.bot_username}` : '',\n        slots: []\n      };\n    }\n    const timeDisplay = (slot.time_slot || '').substring(0, 5);\n    const courtNum = slot.court_number.replace('Badminton ', '#');\n    byUser[key].slots.push(`${courtNum} ${timeDisplay}`);\n  });\n  Object.values(byUser).forEach(u => {\n    const displayName = u.username ? `${u.name} (${u.username})` : u.name;\n    message += `\\n• <b>${displayName}</b>: ${u.slots.join(', ')}`;\n  });\n}\n\nreturn [{ json: { message: message, chat_id: chatId, available_times: available_times } }];"
      },
      "id": "23333bcf-24de-43e8-8c16-0ac274362f52",
      "name": "Format Schedule",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        400
      ],
      "id": "8d5bb37f-14b4-4edf-8165-4918f3f75c50",
      "name": "Send a text message",
      "webhookId": "cad3c749-3ae3-4850-94f1-524684cd6821",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const arg1 = $input.first().json.arg1;\nconst ctx = $input.first().json;\n\n// No date provided → pass through\nif (!arg1) {\n  return [{ json: { ...ctx, resolved_date: null, ambiguous: false, interpretations: [] } }];\n}\n\n// Already ISO (YYYY-MM-DD) → unambiguous\nif (/^\\d{4}-\\d{2}-\\d{2}$/.test(String(arg1).trim())) {\n  return [{ json: { ...ctx, resolved_date: arg1, ambiguous: false, interpretations: [] } }];\n}\n\n// Match flexible format: A.B.C, A/B/C, A-B-C\nconst m = String(arg1).trim().match(/^(\\d{1,4})[\\.\\/-](\\d{1,2})(?:[\\.\\/-](\\d{2,4}))?$/);\nif (!m) {\n  return [{ json: { ...ctx, resolved_date: arg1, ambiguous: false, interpretations: [] } }];\n}\n\nconst [_, a, b, c] = m;\nconst aNum = parseInt(a), bNum = parseInt(b);\n\nlet year;\nif (c) {\n  const cNum = parseInt(c);\n  year = c.length === 4 ? cNum : 2000 + cNum;\n} else {\n  year = new Date().getFullYear();\n}\n\nfunction isValidDate(y, mo, d) {\n  if (mo < 1 || mo > 12 || d < 1) return false;\n  return d <= new Date(y, mo, 0).getDate();\n}\n\nfunction toISO(y, mo, d) {\n  return `${y}-${String(mo).padStart(2,'0')}-${String(d).padStart(2,'0')}`;\n}\n\nif (aNum > 12) {\n  const iso = isValidDate(year, bNum, aNum) ? toISO(year, bNum, aNum) : arg1;\n  return [{ json: { ...ctx, resolved_date: iso, ambiguous: false, interpretations: [] } }];\n}\n\nif (bNum > 12) {\n  const iso = isValidDate(year, aNum, bNum) ? toISO(year, aNum, bNum) : arg1;\n  return [{ json: { ...ctx, resolved_date: iso, ambiguous: false, interpretations: [] } }];\n}\n\nconst ddMM = isValidDate(year, bNum, aNum) ? toISO(year, bNum, aNum) : null;\nconst MMdd = isValidDate(year, aNum, bNum) ? toISO(year, aNum, bNum) : null;\n\nif (ddMM && MMdd && ddMM !== MMdd) {\n  return [{ json: { ...ctx, resolved_date: null, ambiguous: true, interpretations: [ddMM, MMdd] } }];\n}\n\nconst resolved = ddMM || MMdd || arg1;\nreturn [{ json: { ...ctx, resolved_date: resolved, ambiguous: false, interpretations: [] } }];"
      },
      "id": "parse-date-ambiguity",
      "name": "Parse & Detect Date Ambiguity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ambiguous-check",
              "leftValue": "={{ $json.ambiguous }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-date-ambiguous",
      "name": "Is Date Ambiguous?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst ctx = $input.first().json;\n\nconst confirmation_id = crypto.randomBytes(8).toString('hex');\n\nfunction formatDate(iso, lang) {\n  const locales = { pl: 'pl-PL', ru: 'ru-RU', en: 'en-GB' };\n  const locale = locales[lang] || 'en-GB';\n  return new Date(iso).toLocaleDateString(locale, { day: 'numeric', month: 'long', year: 'numeric' });\n}\n\nconst lang = ctx.lang || 'en';\nconst [date1, date2] = ctx.interpretations;\n\nreturn [{\n  json: {\n    ...ctx,\n    confirmation_id,\n    button_text_1: formatDate(date1, lang),\n    button_text_2: formatDate(date2, lang),\n    callback_date_1: date1,\n    callback_date_2: date2,\n  }\n}];"
      },
      "id": "generate-disambiguation-id",
      "name": "Generate Disambiguation ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pending_confirmations\n  (confirmation_id, chat_id, user_id, lang, command, payload, expires_at)\nVALUES\n  ($1, $2, $3, $4, 'show', $5, NOW() + INTERVAL '15 minutes')\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json.confirmation_id }},{{ $json.chat_id }},{{ $json.user_id }},{{ $json.lang }},{{ $json }}"
        }
      },
      "id": "store-disambiguation-request",
      "name": "Store Disambiguation Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        416,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Generate Disambiguation ID').first().json.chat_id }}",
        "text": "📅 Which date do you mean?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Generate Disambiguation ID').first().json.button_text_1 }}",
                    "additionalFields": {
                      "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':' + $('Generate Disambiguation ID').first().json.callback_date_1 }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Generate Disambiguation ID').first().json.button_text_2 }}",
                    "additionalFields": {
                      "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':' + $('Generate Disambiguation ID').first().json.callback_date_2 }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌ Cancel",
                    "additionalFields": {
                      "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':cancel' }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-date-options-keyboard",
      "name": "Send Date Options Keyboard",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        208
      ],
      "webhookId": "ecc4ea23-9760-48d0-bc1b-c7ecabc586e8",
      "credentials": {
        "telegramApi": {
          "id": "pHQDqhsnrwimdaY2",
          "name": "twoj_badminton_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pending_confirmations SET message_id = $1 WHERE confirmation_id = $2",
        "options": {
          "queryReplacement": "={{ $('Send Date Options Keyboard').first().json.result.message_id }},{{ $('Generate Disambiguation ID').first().json.confirmation_id }}"
        }
      },
      "id": "update-pending-message-id",
      "name": "Update Pending Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        864,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "3SDluWLUa1vIU50a",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-id-field",
              "name": "chat_id",
              "value": "={{ $('Generate Disambiguation ID').first().json.chat_id }}",
              "type": "string"
            },
            {
              "id": "message-field",
              "name": "message",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "return-pending-sentinel",
      "name": "Return Pending Sentinel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        208
      ]
    }
  ],
  "connections": {
    "Select Schedules": {
      "main": [
        [
          {
            "node": "Format Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schedule": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse & Detect Date Ambiguity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Detect Date Ambiguity": {
      "main": [
        [
          {
            "node": "Is Date Ambiguous?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Date Ambiguous?": {
      "main": [
        [
          {
            "node": "Generate Disambiguation ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Disambiguation ID": {
      "main": [
        [
          {
            "node": "Store Disambiguation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Disambiguation Request": {
      "main": [
        [
          {
            "node": "Send Date Options Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Date Options Keyboard": {
      "main": [
        [
          {
            "node": "Update Pending Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pending Message ID": {
      "main": [
        [
          {
            "node": "Return Pending Sentinel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "53754049-31d4-4819-9e67-0781332662ea",
  "activeVersionId": "53754049-31d4-4819-9e67-0781332662ea",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-27T11:51:58.990Z",
      "createdAt": "2025-12-27T11:51:58.990Z",
      "role": "workflow:owner",
      "workflowId": "HFeE52YK9tAzKTpk",
      "projectId": "66rzfRQbAnEionlx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-27T18:06:06.000Z",
    "createdAt": "2026-03-27T18:06:01.614Z",
    "versionId": "53754049-31d4-4819-9e67-0781332662ea",
    "workflowId": "HFeE52YK9tAzKTpk",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chat_id"
              },
              {
                "name": "arg1"
              },
              {
                "name": "lang"
              },
              {
                "name": "user_id"
              },
              {
                "name": "username"
              },
              {
                "name": "fullname"
              }
            ]
          }
        },
        "id": "44edb8c3-4e24-4419-8d01-32cfe9b573e8",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -480,
          304
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT  cs.club_id,  cs.sport_id,  cs.date,  cs.court_number,  cs.time_slot,  cs.is_available,  cs.updated_at,  r.user_id   AS bot_user_id, u.full_name AS bot_user_name,  u.user_name AS bot_username \nFROM club_schedules cs\nLEFT JOIN reservations r  ON  cs.date = r.date  AND cs.time_slot::time = r.time_start::time  AND cs.court_number = 'Badminton ' || r.court\nLEFT JOIN users u  ON r.user_id = u.id WHERE cs.date = $1::date  AND cs.sport_id = 84\nORDER BY cs.time_slot, cs.court_number",
          "options": {
            "queryReplacement": "={{ $json.resolved_date || $json.arg1 || $today }}"
          }
        },
        "id": "5d9763e6-3b39-402e-b0c2-165225b1371d",
        "name": "Select Schedules",
        "type": "n8n-nodes-base.postgres",
        "position": [
          192,
          400
        ],
        "typeVersion": 2.6,
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const chatId = $('When Executed by Another Workflow').first().json.chat_id;\nconst items = $input.all().map(item => item.json);\nif (!items || items.length === 0 || Object.keys(items[0]).length === 0) {\n  return [{ json: { message: '📭 No schedule data available.', chat_id: chatId } }];\n}\n\n// Extract unique time slots and courts\nconst timeslots = [...new Set(items.map(x => x.time_slot))].sort();\nconst courts = [...new Set(items.map(x => x.court_number))].sort();\n\n// Get the date from first item - fix UTC timezone shift\nlet scheduleDate = 'Unknown date';\nif (items[0]?.date) {\n  const d = new Date(items[0].date);\n  scheduleDate = d.toLocaleDateString('sv-SE', { timeZone: 'Europe/Warsaw' });\n}\n\n// Build header\nlet message = `<b>🏸 Court Schedule</b>\\n`;\nmessage += `<b>📅 ${scheduleDate}</b>\\n\\n`;\n\n// Build monospace table header\nmessage += '<pre>';\nmessage += '🕓     ';\ncourts.forEach(court => {\n  const courtNum = court.replace('Badminton ', '#');\n  message += `${courtNum} `;\n});\nmessage += '\\n';\nmessage += '───────' + '────'.repeat(courts.length) + '\\n';\n\nconst available_times = Object.entries(\n  $input.all().map(i => i.json)\n    .filter(slot => slot.is_available)\n    .reduce((acc, slot) => {\n      const time = slot.time_slot.slice(0, 5);\n      const court = slot.court_number.replace('Badminton ', '');\n      acc[time] = acc[time] || [];\n      acc[time].push(court);\n      return acc;\n    }, {})\n).map(([time_slot, courts]) => ({ time_slot, courts }));\n\n// Build table rows\ntimeslots.forEach(ts => {\n  let timeDisplay = ts;\n  if (ts.includes('T')) {\n    timeDisplay = ts.substring(11, 16);\n  } else if (ts.length > 5) {\n    timeDisplay = ts.substring(0, 5);\n  }\n  message += timeDisplay + '  ';\n  \n  courts.forEach(court => {\n    const slot = items.find(item => \n      item.time_slot === ts && item.court_number === court\n    );\n    \n    if (!slot) {\n      message += '⬜ ';\n    } else if (slot.bot_user_id) {\n      message += '🏸 ';  // booked by a bot user (takes priority — handles pre-sync window)\n    } else if (slot.is_available) {\n      message += '✅ ';\n    } else {\n      message += '❌ ';  // booked externally\n    }\n  });\n  message += '\\n';\n});\n\nmessage += '</pre>';\nmessage += '\\n✅ Available  🏸 Bot booking  ❌ External';\n\nconst botSlots = items.filter(item => item.bot_user_id);\nif (botSlots.length > 0) {\n  message += '\\n\\n<b>📋 Bot Reservations:</b>';\n  const byUser = {};\n  botSlots.forEach(slot => {\n    const key = slot.bot_user_id;\n    if (!byUser[key]) {\n      byUser[key] = {\n        name: slot.bot_user_name || slot.bot_username || `user ${slot.bot_user_id}`,\n        username: slot.bot_username ? `@${slot.bot_username}` : '',\n        slots: []\n      };\n    }\n    const timeDisplay = (slot.time_slot || '').substring(0, 5);\n    const courtNum = slot.court_number.replace('Badminton ', '#');\n    byUser[key].slots.push(`${courtNum} ${timeDisplay}`);\n  });\n  Object.values(byUser).forEach(u => {\n    const displayName = u.username ? `${u.name} (${u.username})` : u.name;\n    message += `\\n• <b>${displayName}</b>: ${u.slots.join(', ')}`;\n  });\n}\n\nreturn [{ json: { message: message, chat_id: chatId, available_times: available_times } }];"
        },
        "id": "23333bcf-24de-43e8-8c16-0ac274362f52",
        "name": "Format Schedule",
        "type": "n8n-nodes-base.code",
        "position": [
          416,
          400
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          640,
          400
        ],
        "id": "8d5bb37f-14b4-4edf-8165-4918f3f75c50",
        "name": "Send a text message",
        "webhookId": "cad3c749-3ae3-4850-94f1-524684cd6821",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const arg1 = $input.first().json.arg1;\nconst ctx = $input.first().json;\n\n// No date provided → pass through\nif (!arg1) {\n  return [{ json: { ...ctx, resolved_date: null, ambiguous: false, interpretations: [] } }];\n}\n\n// Already ISO (YYYY-MM-DD) → unambiguous\nif (/^\\d{4}-\\d{2}-\\d{2}$/.test(String(arg1).trim())) {\n  return [{ json: { ...ctx, resolved_date: arg1, ambiguous: false, interpretations: [] } }];\n}\n\n// Match flexible format: A.B.C, A/B/C, A-B-C\nconst m = String(arg1).trim().match(/^(\\d{1,4})[\\.\\/-](\\d{1,2})(?:[\\.\\/-](\\d{2,4}))?$/);\nif (!m) {\n  return [{ json: { ...ctx, resolved_date: arg1, ambiguous: false, interpretations: [] } }];\n}\n\nconst [_, a, b, c] = m;\nconst aNum = parseInt(a), bNum = parseInt(b);\n\nlet year;\nif (c) {\n  const cNum = parseInt(c);\n  year = c.length === 4 ? cNum : 2000 + cNum;\n} else {\n  year = new Date().getFullYear();\n}\n\nfunction isValidDate(y, mo, d) {\n  if (mo < 1 || mo > 12 || d < 1) return false;\n  return d <= new Date(y, mo, 0).getDate();\n}\n\nfunction toISO(y, mo, d) {\n  return `${y}-${String(mo).padStart(2,'0')}-${String(d).padStart(2,'0')}`;\n}\n\nif (aNum > 12) {\n  const iso = isValidDate(year, bNum, aNum) ? toISO(year, bNum, aNum) : arg1;\n  return [{ json: { ...ctx, resolved_date: iso, ambiguous: false, interpretations: [] } }];\n}\n\nif (bNum > 12) {\n  const iso = isValidDate(year, aNum, bNum) ? toISO(year, aNum, bNum) : arg1;\n  return [{ json: { ...ctx, resolved_date: iso, ambiguous: false, interpretations: [] } }];\n}\n\nconst ddMM = isValidDate(year, bNum, aNum) ? toISO(year, bNum, aNum) : null;\nconst MMdd = isValidDate(year, aNum, bNum) ? toISO(year, aNum, bNum) : null;\n\nif (ddMM && MMdd && ddMM !== MMdd) {\n  return [{ json: { ...ctx, resolved_date: null, ambiguous: true, interpretations: [ddMM, MMdd] } }];\n}\n\nconst resolved = ddMM || MMdd || arg1;\nreturn [{ json: { ...ctx, resolved_date: resolved, ambiguous: false, interpretations: [] } }];"
        },
        "id": "parse-date-ambiguity",
        "name": "Parse & Detect Date Ambiguity",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ambiguous-check",
                "leftValue": "={{ $json.ambiguous }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "is-date-ambiguous",
        "name": "Is Date Ambiguous?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -32,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst ctx = $input.first().json;\n\nconst confirmation_id = crypto.randomBytes(8).toString('hex');\n\nfunction formatDate(iso, lang) {\n  const locales = { pl: 'pl-PL', ru: 'ru-RU', en: 'en-GB' };\n  const locale = locales[lang] || 'en-GB';\n  return new Date(iso).toLocaleDateString(locale, { day: 'numeric', month: 'long', year: 'numeric' });\n}\n\nconst lang = ctx.lang || 'en';\nconst [date1, date2] = ctx.interpretations;\n\nreturn [{\n  json: {\n    ...ctx,\n    confirmation_id,\n    button_text_1: formatDate(date1, lang),\n    button_text_2: formatDate(date2, lang),\n    callback_date_1: date1,\n    callback_date_2: date2,\n  }\n}];"
        },
        "id": "generate-disambiguation-id",
        "name": "Generate Disambiguation ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          208
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pending_confirmations\n  (confirmation_id, chat_id, user_id, lang, command, payload, expires_at)\nVALUES\n  ($1, $2, $3, $4, 'show', $5, NOW() + INTERVAL '15 minutes')\nRETURNING id",
          "options": {
            "queryReplacement": "={{ $json.confirmation_id }},{{ $json.chat_id }},{{ $json.user_id }},{{ $json.lang }},{{ $json }}"
          }
        },
        "id": "store-disambiguation-request",
        "name": "Store Disambiguation Request",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          416,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Generate Disambiguation ID').first().json.chat_id }}",
          "text": "📅 Which date do you mean?",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $('Generate Disambiguation ID').first().json.button_text_1 }}",
                      "additionalFields": {
                        "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':' + $('Generate Disambiguation ID').first().json.callback_date_1 }}"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $('Generate Disambiguation ID').first().json.button_text_2 }}",
                      "additionalFields": {
                        "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':' + $('Generate Disambiguation ID').first().json.callback_date_2 }}"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "❌ Cancel",
                      "additionalFields": {
                        "callback_data": "={{ 'dd:' + $('Generate Disambiguation ID').first().json.confirmation_id + ':cancel' }}"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "send-date-options-keyboard",
        "name": "Send Date Options Keyboard",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          640,
          208
        ],
        "webhookId": "ecc4ea23-9760-48d0-bc1b-c7ecabc586e8",
        "credentials": {
          "telegramApi": {
            "id": "pHQDqhsnrwimdaY2",
            "name": "twoj_badminton_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE pending_confirmations SET message_id = $1 WHERE confirmation_id = $2",
          "options": {
            "queryReplacement": "={{ $('Send Date Options Keyboard').first().json.result.message_id }},{{ $('Generate Disambiguation ID').first().json.confirmation_id }}"
          }
        },
        "id": "update-pending-message-id",
        "name": "Update Pending Message ID",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          864,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "3SDluWLUa1vIU50a",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chat-id-field",
                "name": "chat_id",
                "value": "={{ $('Generate Disambiguation ID').first().json.chat_id }}",
                "type": "string"
              },
              {
                "id": "message-field",
                "name": "message",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "return-pending-sentinel",
        "name": "Return Pending Sentinel",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1088,
          208
        ]
      }
    ],
    "connections": {
      "Select Schedules": {
        "main": [
          [
            {
              "node": "Format Schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Schedule": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Parse & Detect Date Ambiguity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Detect Date Ambiguity": {
        "main": [
          [
            {
              "node": "Is Date Ambiguous?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Date Ambiguous?": {
        "main": [
          [
            {
              "node": "Generate Disambiguation ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Select Schedules",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Disambiguation ID": {
        "main": [
          [
            {
              "node": "Store Disambiguation Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Disambiguation Request": {
        "main": [
          [
            {
              "node": "Send Date Options Keyboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Date Options Keyboard": {
        "main": [
          [
            {
              "node": "Update Pending Message ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Pending Message ID": {
        "main": [
          [
            {
              "node": "Return Pending Sentinel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sergei Vedishchev",
    "name": "Version 53754049",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-12-27T11:51:52.051Z",
      "createdAt": "2025-12-27T11:51:52.051Z",
      "id": "3W7RR758UwICVpEC",
      "name": "bot_command"
    }
  ]
}